<li class="grid-col l-4 js-product-card">
    
    <a class="card-link" href="/product/{{ product.slug }}">
        {% set gallery = product.objGallery %}
        {% set image = gallery|length > 0 ? gallery.0 : null %}

        {% if image and image.clearCutImage %}
            <figure class="card-img card-img--clearcut aspect-ratio--1x1">
                <img data-src="/images/assets/{{ image.code }}/small" alt="" class="card-link__image-clearcut lazy object-fit object-fit--contain">
            </figure>
        {% else %}
            <figure class="card-img aspect-ratio--1x1">
                <img data-src="/images/assets/{{ product.objImage|join('/') }}" alt="" class="lazy object-fit object-fit--cover">
            </figure>
        {% endif %}


        <h3 class="heading--card">{{ product.title }}</h3>
        {% if product.objBrand %}
            <div class="card-link__meta">By {{ product.objBrand.title }}</div>
        {% endif %}

        {% set variant = product.objVariant %}
        <div class="card-link__price">
            {% if product.objOnSaleActive and variant.salePrice %}
                <s class="card-link__price__was">${{ variant.calculatedPrice(app.user)|number_format(2) }}</s>
                <span class="card-link__price__now">${{ variant.calculatedSalePrice(app.user)|number_format(2) }}</span>
            {% else %}
                <span class="card-link__price">${{ variant.calculatedPrice(app.user)|number_format(2) }}</span>
            {% endif %}
        </div>
    </a>
</li>