<table>
    <tr class="checkout-aside__row">
        <td class="checkout-aside__total checkout-aside__cell checkout-aside__cell__subtotal">Subtotal</td>
        <td class="checkout-aside__total-value checkout-aside__cell checkout-aside__cell__subtotal">${{ cart.subtotal|number_format(2) }}</td>
    </tr>

    {% if cart.discount %}
        <tr class="checkout-aside__row">
            <td class="">Discount <small>({{ cart.promoCode }})</small></td>
            <td class="" align="right">-${{ cart.discount|number_format(2) }}</td>
        </tr>

        <tr class="checkout-aside__row">
            <td class="">After discount</td>
            <td class="" align="right">${{ cart.afterDiscount|number_format(2) }}</td>
        </tr>
    {% endif %}

    {% if cart.isPickup == 1 %}
        <tr class="checkout-aside__row">
            <td class="checkout-aside__total checkout-aside__cell checkout-aside__cell--no-border">Pickup</td>
            <td class="checkout-aside__total-value checkout-aside__cell checkout-aside__cell--no-border">Free</td>
        </tr>
    {% else %}
        {% if cart.shippingId %}
            <tr class="checkout-aside__row">
                <td class="checkout-aside__total checkout-aside__cell checkout-aside__cell--no-border">Shipping <small>({{ cart.shippingTitle }})</small></td>
                <td class="checkout-aside__total-value checkout-aside__cell checkout-aside__cell--no-border">{% if cart.shippingCost == 0 %}Free{% else %}${{ cart.shippingCost|number_format(2) }}{% endif %}</td>
            </tr>
        {% else %}
            <tr class="checkout-aside__row">
                <td class="checkout-aside__total checkout-aside__cell checkout-aside__cell--no-border">Shipping</td>
                <td class="checkout-aside__total-value checkout-aside__cell checkout-aside__cell--no-border">{% block shippingValue %}Calculated at next step{% endblock %}</td>
            </tr>
        {% endif %}
    {% endif %}

    <tr class="checkout-aside__row">
        <td class="checkout-aside__total checkout-aside__total--large checkout-aside__cell">Total</td>
        <td class="checkout-aside__total-value checkout-aside__total--large checkout-aside__cell">${{ cart.total|number_format(2) }}</td>
    </tr>
</table>