

{% if pageTotal > 1 %}
    {% set pageRange = 9 %}

    {% if pageNum in [1, 2] and pageTotal > 5 %}
        {% set maxPages = 5 %}
    {% else %}
        {% set maxPages = pageNum + pageRange > pageTotal ? pageTotal : pageNum + pageRange %}
    {% endif %}
    {% set minPages = pageNum - pageRange < 1 ? 1 : pageNum - pageRange %}

    <nav class="nav-pagination section-inner--pt-s js-pagination">
        <ul class="nav-pagination__items">
            <li class="nav-pagination__item">
                <a class="js-pagination-anchor nav-pagination__link nav-pagination__link--lateral{% if pageNum - 1 < 1 %} nav-pagination__link--disabled{% endif %}" data-page="{{ max(pageNum - 1, 1) }}" href="#">
                    Previous <span class="visuallyhidden">page</span>
                </a>
            </li>

            {% for i in minPages..maxPages %}
                <li class="nav-pagination__item">
                    <a class="js-pagination-anchor nav-pagination__link {{ i == pageNum ? 'active' }}" data-page="{{ i }}" href="#" ><span class="visuallyhidden">Page {{ i }}</span>{{ i }}</a>
                </li>
            {% endfor %}
            <li class="nav-pagination__item">
                <a class="js-pagination-anchor nav-pagination__link nav-pagination__link--lateral{% if pageNum + 1 > pageTotal %} nav-pagination__link--disabled{% endif %}" data-page="{{ min(pageNum + 1, pageTotal) }}" href="#">
                    Next <span class="visuallyhidden">page</span>
                </a>
            </li>
        </ul>
    </nav>
{% endif %}