{% verbatim %}
    <tbody
    class="js-orm-info
    {{#compare itm.status 1 operator="!="}}disabled{{/compare}}
    {{#compare itm.status 1 operator="=="}}{{#isLessIfSet itm.stock itm.alarmIfLessThan}}low-stock{{/isLessIfSet}}{{/compare}}"

    data-class="ProductVariant"
    id="{{itm.id}}"
    data-callback="getVariants">

        <tr class="column">
            <td>{{itm.title}}</td>
            <td>{{itm.sku}}</td>
            <td>{{#formatMoney itm.price 2 '.' ',' '$' }}{{/formatMoney}}</td>
            <td>{{#formatMoney itm.salePrice 2 '.' ',' '$'}}{{/formatMoney}}</td>
            <td>{{itm.weight}}</td>
            <td>{{itm.stock}}</td>
            <td>{{itm.alarmIfLessThan}}</td>
            <td>
                <a href="#" class="js-orm-status" data-status="{{itm.status}}"><img src="/cms/images/dot{{#compare itm.status 1}}Green{{/compare}}{{#compare itm.status 0}}Red{{/compare}}.gif" alt="" border="0"></a>
                <a href="#" class="js-edit-variant"><img alt="Edit Record" title="Edit Record" src="/cms/images/editIcon.gif" border="0"></a>
                <a href="#" class="js-rm-field js-orm-delete"><img alt="Delete Record" title="Delete Record" src="/cms/images/binIcon.gif" border="0"></a>
            </td>
        </tr>
    </tbody>
{% endverbatim %}