{% verbatim %}
    <tbody class="js-orm-info" data-class="ProductVariant" id="{{itm.id}}" data-callback="getVariants">
        <tr class="column">
            <td>{{itm.id}}</td>
            <td>{{itm.title}}</td>
            <td>{{itm.sku}}</td>
            <td>${{#formatMoney itm.price}}{{/formatMoney}}</td>
            <td>{{itm.weight}}</td>
            <td>{{itm.stock}}</td>
            <td>
                <a href="#" class="js-orm-status" data-status="{{itm.status}}"><img src="/cms/images/dot{{#compare itm.status 1}}Green{{/compare}}{{#compare itm.status 0}}Red{{/compare}}.gif" alt="" border="0"></a>
                <a href="#" class="js-edit-variant"><img alt="Edit Record" title="Edit Record" src="/cms/images/editIcon.gif" border="0"></a>
                <a href="#" class="js-rm-field js-orm-delete"><img alt="Delete Record" title="Delete Record" src="/cms/images/binIcon.gif" border="0"></a>
            </td>
        </tr>
    </tbody>
{% endverbatim %}