
    <div class="cms_from_various_snippets_container panel panel-info content-block-sidebar {{ className }}">
        <div class="article-state-controls">

            <div class="article-state-controls__toggle-preview js-sidebar-preview-area">

                <div class="state-toggle">
                    <input class="switch-toggle-input visuallyhidden" type="checkbox" id="state-toggle-input" name="state-toggle" value="" {{#compare enabled 1 operator='==' }}checked=""{{/compare}}>
                    <label class="switch-toggle-label" for="state-toggle-input">
                        <div class="switch-toggle__switch"></div>
                        <div class="switch-toggle__label switch-toggle__label--active">Enabled</div>
                        <div class="switch-toggle__label switch-toggle__label--inactive">Disabled</div>
                    </label>
                </div>

                {{#compare canBePreviewed 1 operator='==' }}
                    <a class="page-overview__preview link js-orm-preview" href="#">
                        <i class="icon icon--preview icon--l"></i><span class="button-label">Preview</span>
                    </a>
                {{/compare}}
            </div>

            <ul class="js-article-version-list article-version-list">
                <li class="article-version-list__active-item">
                    <!--
                    {{#compare isRestoringFromVersion 1 operator='!=' }}
                        Current version
                    {{/compare}}

                    {{#compare isRestoringFromVersion 1 operator='==' }}
                        {{#compare isDraft 1 operator='==' }}
                            Draft
                        {{/compare}}
                    {{/compare}}

                    {{#compare isRestoringFromVersion 1 operator='==' }}
                        {{#compare isDraft 1 operator='!=' }}
                            Revision
                        {{/compare}}
                    {{/compare}}
                    -->

                    Versions

                    <ul class="article-version-list__dropdown">
                        <li class="article-version-list__item">
                            <h2 class="article-version-list__cat">Current version</h2>
                            <div class="article-version-link-item">
                                <a class="article-version-link article-version-link--current {{#compare isRestoringFromVersion 1 operator='!=' }}active{{/compare}}" href="{{ cancelVersionRestoreUrl }}">
                                    {{ currentOrmDateTime }}
                                    <div class="article-version-link__name">{{ currentOrmAuthor }}</div>
                                </a>
                            </div>
                        </li>

                        {{#ifNotEmpty history.drafts}}
                            <li class="article-version-list__item">
                                <h2 class="article-version-list__cat">Drafts</h2>
                                {{#each history.drafts}}
                                   <div class="article-version-link-item">
                                        <a class="article-version-link article-version-link--draft {{#compare deleteId ../versionOrmId operator='==' }}active{{/compare}}" href="{{ url }}">
                                            {{ datetime }}
                                            <div class="article-version-link__name">{{ author }}</div>
                                        </a>
                                        <button class="js-delete-version icon article-version-link__remove" data-classname="{{ deleteClass}}" data-id="{{ deleteId }}" title="Remove this">
                                            <span class="visuallyhidden">Remove</span>
                                        </button>
                                    </div>
                                {{/each}}
                            </li>
                        {{/ifNotEmpty}}

                        {{#ifNotEmpty history.versions}}
                            <li class="article-version-list__item">
                                <h2 class="article-version-list__cat">Recent</h2>
                                {{#each history.versions}}
                                   <div class="article-version-link-item">
                                        <a class="article-version-link article-version-link--revision {{#compare deleteId ../versionOrmId operator='==' }}active{{/compare}}" href="{{ url }}">
                                            {{ datetime }}
                                            <div class="article-version-link__name">{{ author }}</div>
                                        </a>
                                        <button class="js-delete-version icon article-version-link__remove" data-classname="{{ deleteClass}}" data-id="{{ deleteId }}" title="Remove this">
                                            <span class="visuallyhidden">Remove</span>
                                        </button>
                                    </div>
                                {{/each}}
                            </li>
                        {{/ifNotEmpty}}

                        <!--
                        <li class="article-version-list__item">
                            <h2 class="article-version-list__cat">Drafts</h2>
                            <div class="article-version-link-item">
                                <a class="article-version-link active" href="#">
                                    15/02/2021 @ 09:57am
                                    <div class="article-version-link__name">John Smith</div>
                                </a>
                                <button class="icon article-version-link__remove" title="Remove this">Remove</button>
                            </div>
                        </li>
                        <li class="article-version-list__item">
                            <h2 class="article-version-list__cat">Revisions</h2>
                            <div class="article-version-link-item">
                                <a class="article-version-link" href="#">
                                    15/02/2021 @ 09:57am
                                    <div class="article-version-link__name">John Smith</div>
                                </a>
                                <button class="icon article-version-link__remove" title="Remove this">Remove</button>
                            </div>
                            <div class="article-version-link-item">
                                <a class="article-version-link" href="#">
                                    15/02/2021 @ 09:57am
                                    <div class="article-version-link__name">John Smith</div>

                                </a>
                                <button class="icon article-version-link__remove" title="Remove this">Remove</button>
                            </div>
                            <div class="article-version-link-item">
                                <a class="article-version-link" href="#">
                                    15/02/2021 @ 09:57am
                                    <div class="article-version-link__name">John Smith</div>

                                </a>
                                <button class="icon article-version-link__remove" title="Remove this">Remove</button>
                            </div>
                            <div class="article-version-link-item">
                                <a class="article-version-link" href="#">
                                    15/02/2021 @ 09:57am
                                    <div class="article-version-link__name">John Smith</div>

                                </a>
                                <button class="icon article-version-link__remove" title="Remove this">Remove</button>
                            </div>
                            <div class="article-version-link-item">
                                <a class="article-version-link" href="#">
                                    15/02/2021 @ 09:57am
                                    <div class="article-version-link__name">John Smith</div>

                                </a>
                                <button class="icon article-version-link__remove" title="Remove this">Remove</button>
                            </div>
                            <div class="article-version-link-item">
                                <a class="article-version-link" href="#">
                                    15/02/2021 @ 09:57am
                                    <div class="article-version-link__name">John Smith</div>

                                </a>
                                <button class="icon article-version-link__remove" title="Remove this">Remove</button>
                            </div>
                            <div class="article-version-link-item">
                                <a class="article-version-link" href="#">
                                    15/02/2021 @ 09:57am
                                    <div class="article-version-link__name">John Smith</div>

                                </a>
                                <button class="icon article-version-link__remove" title="Remove this">Remove</button>
                            </div>
                            <div class="article-version-link-item">
                                <a class="article-version-link" href="#">
                                    15/02/2021 @ 09:57am
                                    <div class="article-version-link__name">John Smith</div>

                                </a>
                                <button class="icon article-version-link__remove" title="Remove this">Remove</button>
                            </div>
                            <div class="article-version-link-item">
                                <a class="article-version-link" href="#">
                                    15/02/2021 @ 09:57am
                                    <div class="article-version-link__name">John Smith</div>

                                </a>
                                <button class="icon article-version-link__remove" title="Remove this">Remove</button>
                            </div>
                            -->
                        </li>
                    </ul>
                </li>
            </ul>


            <div class="buttons--article-state js-submit-area-sidebar">
                <!-- Drafts -->
                {{#compare isRestoringFromVersion 1 operator='==' }}
                    {{#compare isDraft 1 operator='==' }}
                        <button class="button button--article-state button--article-draft update" type="button">Save draft</button>
                        <button class="button button--article-state button--article-publish restore" type="button">Publish draft</button>
                        <!-- <button class="button--article-link button--article-link--delete" type="button"><i class="button--article-link--delete__icon"></i>Delete draft</a> -->
                        <a class="button--article-link" href="{{ cancelVersionRestoreUrl }}">Return to current</a>
                    {{/compare}}
                {{/compare}}

                <!-- Current -->
                {{#compare isRestoringFromVersion 1 operator='!=' }}
                    <button class="button button--article-state button--article-publish js-orm-apply" type="button" value="Apply">Save</button>
                    {{#compare canBePreviewed 1 operator='==' }}
                        {{#compare isNew 1 operator='!=' }}
                            <button class="button--article-link js-orm-draft" type="button">Save as new draft version</button>
                        {{/compare}}
                    {{/compare}}
                    <!--
                    {{#compare returnUrl '' operator='!=' }}
                        <a class="button--article-link" href="{{ returnUrl }}">Cancel</a>
                    {{/compare}}
                    -->
                {{/compare}}

                <!-- Version -->
                {{#compare isRestoringFromVersion 1 operator='==' }}
                    {{#compare isDraft 1 operator='!=' }}
                        <button class="button button--article-state button--article-publish restore" type="button">Restore</button>
                        <a class="button--article-link" href="{{ cancelVersionRestoreUrl }}">Return to current</a>
                    {{/compare}}
                {{/compare}}
            </div>
        </div>

        <div class="panel-heading">
            <i class="fa fa-info-circle"></i> Content overview
        </div>
        <div class="panel-body scroll-content"></div>
    </div>



{#
<div class="submit-area submit-area-sidebar js-submit-area-sidebar">
            {{#compare isRestoringFromVersion 1 operator='==' }}
                {{#compare canBePreviewed 1 operator='==' }}
                    <div class="preview">
                        <button class="js-orm-preview submit button preview" name='submit' value='Preview'>Preview</button>
                    </div>
                {{/compare}}

                <div class="submit-buttons submit-buttons-bottom">

                    {{#compare isDraft 1 operator='==' }}
                        <button class="js-orm-restore submit button restore" name='submit' value='Restore'>Publish</button>
                        <button class="js-orm-update submit button update" name='submit' value='Update'>Update</button>
                    {{/compare}}

                    {{#compare isDraft 1 operator='!=' }}
                        <button class="js-orm-restore submit button restore restore-button-only" name='submit' value='Restore'>Restore</button>
                    {{/compare}}

                    <a href="{{ cancelVersionRestoreUrl }}" class="js-orm-restore-cancel submit button cancel">Back</a>
                </div>
            {{/compare}}

            {{#compare isRestoringFromVersion 1 operator='!=' }}

                {{#compare canBePreviewed 1 operator='==' }}
                    <div class="preview">
                        <button class="js-orm-preview submit button preview" name='submit' value='Preview'>Preview</button>
                        <button class="js-orm-draft submit button draft" name='submit' value='Save as draft'>Save as draft</button>
                    </div>
                {{/compare}}

                <div class="enabled-status">
                    <div class="formStyle choice">
                        <div id="sidebar_submit_area_orm_status">
                            <div>
                                <input class="js-sidebar-submit-orm-status" name="sidebar_submit_area_orm_status" type="radio" id="sidebar_submit_area_orm_status_0" value="1">
                                <label for="sidebar_submit_area_orm_status_0" class="required">Enabled</label>
                            </div>
                            <div>
                                <input class="js-sidebar-submit-orm-status" name="sidebar_submit_area_orm_status" type="radio" id="sidebar_submit_area_orm_status_1" value="0">
                                <label for="sidebar_submit_area_orm_status_1" class="required">Disabled</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="submit-buttons submit-buttons-bottom">
                    {{#compare returnUrl '' operator='!=' }}
                        <a class="back-button button js-returnUrl" href="{{ returnUrl }}">‹ Back</a>
                    {{/compare}}

                    <button class="js-orm-apply submit button save-content {{#compare returnUrl '' operator='==' }}one-button-only{{/compare}}" style="background: #2281cf;" name='submit' value='Apply'>Apply</button>

                    {{#compare returnUrl '' operator='!=' }}
                        <button class="js-orm-save submit button save" name='submit' value='Save'>Save</button>
                    {{/compare}}
                </div>

            {{/compare}}
        </div>
    #}

{#

<div class="submit-area">
    <div class="sidebar-preview-area js-sidebar-preview-area preview" style="display: none;" >
        <button style="" class="submit button save-content preview">Preview</button>
        <button style="display: none;" class="submit button save-content draft">Save as draft</button>
    </div>

    <div class="sidebar-submit-area submit-buttons">
        <input style="display: none;" class="submit button save-content apply" class="bg-blue" style="margin-right: .5em;" type="submit" value="Apply" name="submit" />
        <input style="display: none;" class="submit button save-content save" class="bg-green" type="submit" value="Save" name="submit" />
        <input style="display: none;" class="submit button save-content restore" class="bg-restore" type="submit" value="Publish" name="submit" />
        <a style="display: none;" class="submit button save-content cancel" class="bg-cancel">Back</a>
    </div>
</div>
</div>
#}
