{% verbatim %}
    <input type="hidden" name="id" value="{{section.id}}">
    <input type="hidden" name="status" value="{{section.status}}">

    <div class="form-group">
        <label>Section name:</label>
        <input type="text" name="name" value="{{section.title}}" placeholder="Enter a name" class="form-control">
    </div>
    <div class="form-group">
        <label>Section ID:</label>
        <input type="text" name="attr" value="{{section.attr}}" placeholder="Enter an ID" class="form-control">
    </div>
    <div class="form-group">
        <label>Relationship tags:</label>
        <select name="tags" class="no-chosen js-after-chosen form-control js-tag" data-placeholder="Choose tags" multiple>
            {{#each optionTags}}
                <option {{#ifHasIt ../section.tags id }}selected{{/ifHasIt}} value="{{id}}">{{title}}</option>
            {{/each}}
        </select>
    </div>
{% endverbatim %}