
    <div class="js-blocks section-blocks">
        <div class="content-block js-block">
            <div class="block-file js-heading">
                <h4 class="block-title">&nbsp;</h4>

                {{#compare length 0 operator='>' }}
                    {{#compare idx 0 operator='==' }}
                        <a href="#" class="delete-block down right-second js-rate-down"></a>
                    {{/compare}}

                    {{#compare idx length operator='==' }}
                        <a href="#" class="delete-block up right-second js-rate-up"></a>
                    {{/compare}}
                {{/compare}}

                {{#compare idx 0 operator='!=' }}
                    {{#compare idx length operator='!=' }}
                        <a href="#" class="delete-block up right-third js-rate-up"></a>
                        <a href="#" class="delete-block down right-second js-rate-down"></a>
                    {{/compare}}
                {{/compare}}

                <a href="#" class="delete-block js-delete-rate"></a>
            </div>
            <section class="block-widgets">
                <div>
                    <div class="formStyle mb-little" {{#compare mode 1 operator='!=' }}style="display: none;"{{/compare}}>
                        <label>Shipping regions:</label>
                        <select class="js-elem js-after-chosen" data-id="regions" multiple>
                            <option {{#ifHasIt itm.regions 'all' }}selected{{/ifHasIt}} value="all">All regions</option>
                            {{#each regions}}
                                <option {{#ifHasIt ../itm.regions id }}selected{{/ifHasIt}} value="{{id}}">{{title}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <section {{#compare mode 2 operator='!=' }}style="display: none;"{{/compare}}>
                        <div class="formStyle">
                            <label>Postcode from:</label>
                            <input type="text" class="js-elem" data-id="zipFrom" value="{{itm.zipFrom}}">
                        </div>

                        <div class="formStyle">
                            <label>to:</label>
                            <input type="text" class="js-elem" data-id="zipTo" value="{{itm.zipTo}}">
                        </div>
                    </section>

                    <div class="formStyle mb-little"><label>$ / unit (e.g. weight, volume):</label>
                        <input type="text" class="js-elem" data-id="price" value="{{itm.price}}">
                    </div>

                    <div class="clear"></div>

                    <a href="#" class="js-add-extra">Add extra conditions</a>

                    <section class="conditions-container">
                        <div class="js-extra-title extra-title">
                            <div class="formStyle" style="margin-bottom: 0;">
                                <label>Units from:</label>
                            </div>

                            <div class="formStyle" style="margin-bottom: 0;">
                                <label>to:</label>
                            </div>

                            <div class="formStyle" style="margin-bottom: 0;">
                                <label>$:</label>
                            </div>
                        </div>

                        <div class="js-extras"></div>
                    </section>

                    <div>&nbsp;</div>
                </div>
            </section>
            <div class="clear"></div>
        </div>
    </div>
