{% verbatim %}
    <li class="tableContent js-tableContent js-orm-info file-box gallery-file-box" id="{{id}}" data-id="{{id}}" data-code="{{code}}" data-width="{{width}}" data-height="{{height}}" data-callback="callbackAfterDeleteFile" data-class="Asset">
        <div class="asset-img">
            <a class="js-cropping-options cropping-options" href="#" title="Crop this image ›">Cropping Options</a>
            <img src="/manage/images/assets/{{code}}/cms_small?v={{#random}}{{/random}}" alt="{{title}}" class="mceImage" border="0">
        </div>
        <div class="details">
            <div class="gallery-file-title" title="{{title}}">{{title}}</div>

            <div class="asset-controls">
                <!--<a href="#" class="icon approve js-orm-status" data-status="{{ status }}"><img src="/cms/images/dot{{#compare 1 status operator="=="}}Green{{/compare}}{{#compare 0 status operator="=="}}Red{{/compare}}.gif" alt="" border="0"></a>-->
                <a class="icon pz-file-delete js-file-delete" href="#"><img src="/cms/develop/images/unlink.png" alt="" border="0"></a>
                <div class="doc-code-meta">
                    <label>
                        {{code}}
                    </label>
                </div>
            </div>
        </div>
    </li>
{% endverbatim %}