{% verbatim %}
    <div class="gallery-file-box" data-id="{{id}}" data-title="{{title}}" id="{{id}}">
        <button class="pz-file-delete btn btn-danger btn-circle js-file-delete"><i class="fa fa-times"></i></button>
        <div class="file ui-state-default">
            <a class="js-fancybox-gallery" href="/assets/image/{{id}}/large">
                <span class="corner"></span>
                <div class="icon">
                    <img src="/assets/image/{{id}}/small" />
                </div>
                <div class="file-name">
                    {{title}}
                    <br/>
                    <small>{{ added }}</small>
                </div>
            </a>
        </div>
    </div>
{% endverbatim %}