{% verbatim %}
    <div class="content-block js-block js-block-{{block.id}}" data-id="{{block.id}}">
        <div class="block-file js-heading">
            <h4 class="block-title">{{block.title}}</h4>
            {{#compare block.status 1 operator="=="}}<a href="#" class="delete-block active-block js-status-toggle" data-status="0" data-type="block" style="background-image: url('/cms/images/dotGreen.gif');"></a>{{/compare}}
            {{#compare block.status 0 operator="=="}}<a href="#" class="delete-block active-block js-status-toggle" data-status="1" data-type="block" style="background-image: url('/cms/images/dotRed.gif');"></a>{{/compare}}
            {{!-- <a href="#" class="delete-block edit-block js-edit-block" style="background-image: url('/cms/images/editIcon.gif');"></a> --}}
            <a href="#" class="delete-block js-delete-block"></a>
        </div>
        <div class="clear"></div>
        <div class="block-widgets">
            {{#each block.items}}
                {{#compare widget 0 operator='==' }}
                    <div class="formStyle">
                        <label>{{title}}</label>
                        <input type="text" class="js-elem" id="{{../id}}@{{../block.id}}@{{id}}" data-id="{{id}}" value="{{#getByKey ../block.values id}}{{/getByKey}}">
                    </div>
                {{/compare}}

                {{#compare widget 1 operator='==' }}
                    <div class="formStyle block-item-textarea">
                        <label>{{title}}</label>
                        <textarea class="js-elem" id="{{../id}}@{{../block.id}}@{{id}}" data-id="{{id}}">{{#getByKey ../block.values id}}{{/getByKey}}</textarea>
                    </div>
                {{/compare}}

                {{#compare widget 2 operator='==' }}
                    <div class="formStyle content-block-asset assetpicker">
                        <label>{{title}}</label>
                        <div class="filePickWrap js-filePickWrap js-orm-info" data-id="{{#getByKey0 ../block.values id}}{{/getByKey0}}">
                            <div class="filePickPreviewWrap">
                                <img src="/cms/develop/images/file-loading.gif" class="js-filePickFile filePickFile">
                                <a class="js-asset-delete" style="display: none;"><img src="/cms/images/binIcon.gif"></a>
                            </div>
                            <a class="filePickButton js-asset-change" style="display: none">Pick file ›</a>
                            <a class="cropImagePickButton js-cropping-options" style="display: none;">Crop ›</a>
                            <input type="hidden" class="js-elem js-fileId" id="{{../id}}@{{../block.id}}@{{id}}" data-id="{{id}}" value="{{#getByKey ../block.values id}}{{/getByKey}}">
                        </div>
                    </div>
                {{/compare}}

                {{#compare widget 3 operator='==' }}
                    <div class="formStyle block-item-textarea assetfolderpicker">
                        <label for="form_gallery" class="required" style="display: inline-block;">{{title}}</label>
                        <div style="display: inline-block; margin-left: 10px;">
                            <a class="button-normal button-galery change" data-id="#{{../id}}@{{../block.id}}@{{id}}"><i class="fas fa-images"></i> Manage</a>
                            <a class="button-red button-galery delete" data-id="#{{../id}}@{{../block.id}}@{{id}}"><i class="far fa-trash-alt"></i> Empty</a>
                        </div>
                        <div class="widget style1 js-gallery-widget" style="padding: 0; margin: 1em 0 0 0;">
                            <input type="hidden" id="{{id}}" class="js-elem js-fileId" required="required" value="{{../id}}@{{../block.id}}@{{id}}" data-attributename="{{../id}}@{{../block.id}}@{{id}}" data-id="{{id}}">
                            <div class="ibox-content">
                                <div class="sk-spinner sk-spinner-double-bounce">
                                    <div class="sk-double-bounce1"></div>
                                    <div class="sk-double-bounce2"></div>
                                </div>
                                <div class="alert alert-info js-loading" style="display: none;">
                                    Loading images, please wait...
                                </div>
                                <div class="alert gray-bg js-no-results" style="display: none;">
                                    No images selected
                                </div>
                                <div id="fileModuleBrowser" class="gallery-widget">
                                    <ul id="filesImageList" class="contentListTable assets-images ui-sortable js-gallery-container">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                {{/compare}}

                {{#compare widget 4 operator='==' }}
                    <div class="formStyle">
                        <label for="{{../id}}@{{../block.id}}@{{id}}" data-id="{{id}}">{{title}}</label>
                        <input {{#getByKeyAndCompare ../block.values id 1}}checked{{/getByKeyAndCompare}} type="checkbox" class="js-elem" id="{{../id}}@{{../block.id}}@{{id}}" data-id="{{id}}">
                    </div>
                {{/compare}}

                {{#compare widget 5 operator='==' }}
                    <div class="formStyle block-item-textarea wysiwyg">
                        <label>{{title}}</label>
                        <textarea class="js-elem" id="{{../id}}@{{../block.id}}@{{id}}" data-id="{{id}}">{{#getByKey ../block.values id}}{{/getByKey}}</textarea>
                    </div>
                {{/compare}}

                {{#compare widget 6 operator='==' }}
                    <div class="formStyle datepicker">
                        <label>{{title}}</label>
                        <input type="text" class="js-elem" id="{{../id}}@{{../block.id}}@{{id}}" data-id="{{id}}" value="{{#getByKey ../block.values id}}{{/getByKey}}">
                    </div>
                {{/compare}}

                {{#compare widget 7 operator='==' }}
                    <div class="formStyle datetimepicker">
                        <label>{{title}}</label>
                        <input type="text" class="js-elem" id="{{../id}}@{{../block.id}}@{{id}}" data-id="{{id}}" value="{{#getByKey ../block.values id}}{{/getByKey}}">
                    </div>
                {{/compare}}

                {{#compare widget 8 operator='==' }}
                    <div class="formStyle timepicker">
                        <label>{{title}}</label>
                        <input type="text" class="js-elem" id="{{../id}}@{{../block.id}}@{{id}}" data-id="{{id}}" value="{{#getByKey ../block.values id}}{{/getByKey}}">
                    </div>
                {{/compare}}

                {{#compare widget 9 operator='==' }}
                    <div class="formStyle">
                        <label>{{title}}</label>
                        <select class="js-elem no-chosen js-after-chosen" id="{{../id}}@{{../block.id}}@{{id}}" data-id="{{id}}">
                            <option></option>
                            {{#each choices}}
                                <option {{#getByValueAndCompare ../../block.values ../id this}}selected{{/getByValueAndCompare}} value="{{#myOptionKey this}}{{/myOptionKey}}">{{#myOptionValue this}}{{/myOptionValue}}</option>
                            {{/each}}
                        </select>
                    </div>
                {{/compare}}

                {{#compare widget 10 operator='==' }}
                    <div class="formStyle">
                        <label>{{title}}</label>
                        <select class="js-elem no-chosen js-after-chosen" id="{{../id}}@{{../block.id}}@{{id}}" data-id="{{id}}" multiple>
                            {{#each choices}}
                                <option {{#getByValueAndCompare ../../block.values ../id this}}selected{{/getByValueAndCompare}} value="{{#myOptionKey this}}{{/myOptionKey}}">{{#myOptionValue this}}{{/myOptionValue}}</option>
                            {{/each}}
                        </select>
                    </div>
                {{/compare}}

                {{#compare widget 11 operator='==' }}
                    <div class="js-elem formStyle" id="{{../id}}@{{../block.id}}@{{id}}" data-id="{{id}}">&nbsp;</div>
                {{/compare}}

                {{#compare widget 12 operator='==' }}
                    <div class="formStyle">
                        <label>{{title}}</label>
                        <select class="js-elem no-chosen js-after-chosen" id="{{../id}}@{{../block.id}}@{{id}}" data-id="{{id}}">
                            <option></option>
                            {{#each choices}}
                                <option style="{{#paddingLevel this.level}}{{/paddingLevel}}" {{#getByValueAndCompare ../../block.values ../id this.value}}selected{{/getByValueAndCompare}} value="{{this.value}}">{{this.label}}</option>
                            {{/each}}
                        </select>
                    </div>
                {{/compare}}

                {{#compare widget 13 operator='==' }}
                    <div class="formStyle">
                        <label>{{title}}</label>
                        <select class="js-elem no-chosen js-after-chosen" id="{{../id}}@{{../block.id}}@{{id}}" data-id="{{id}}" multiple>
                            {{#each choices}}
                                <option style="{{#paddingLevel this.level}}{{/paddingLevel}}" {{#getByValueAndCompare ../../block.values ../id this.value}}selected{{/getByValueAndCompare}} value="{{this.value}}">{{this.label}}</option>
                            {{/each}}
                        </select>
                    </div>
                {{/compare}}

                {{#compare widget 14 operator='==' }}
                    <div class="formStyle">
                        <label>{{title}}</label>
                        <input type="text" value="{{#getByKey ../block.values id}}{{/getByKey}}" id="{{../id}}-{{../block.id}}-{{id}}" data-id="{{id}}" class="js-selectize-block js-elem cms_form_text"/>
                        {{#each choices}}
                            <div style="display: none;" class="{{../../id}}-{{../../block.id}}-{{../id}}-choice" data-id="{{#myOptionKey this}}{{/myOptionKey}}" data-name="{{#myOptionValue this}}{{/myOptionValue}}"></div>
                        {{/each}}
                    </div>
                {{/compare}}

                {{#compare widget 15 operator='==' }}
                    <div class="formStyle block-item-textarea">
                        <div class="widget style1 js-mkvp-widget type20 formStyle">
                            <label>{{title}}</label>
                            <div class="pt-1">
                                <textarea class="js-elem" id="{{../id}}@{{../block.id}}@{{id}}" data-id="{{id}}" style="display: none;">{{#getByKey ../block.values id}}{{/getByKey}}</textarea>
                                <table id="content-block-container" class="table table-striped table-bordered table-hover">
                                    <tbody></tbody>
                                </table>
                                <a href="#" class="insertKVP js-add mkvp-add">Add a row</a>
                                <div>&nbsp;</div>
                            </div>
                        </div>
                    </div>
                {{/compare}}
            {{/each}}
        </div>
        <div class="clear"></div>
    </div>
{% endverbatim %}