{% verbatim %}
    <div class="js-section js-section-{{id}} js-section-{{id}}-{{section.id}}" data-id="{{section.id}}">
        <hr />
        <h2 class="section-title section-first">
            <span class="section-id">Section:</span>
            <span class="js-title">{{section.title}}</span>
            <span class="js-id-container">ID: <span class="section-id-number js-id">{{section.attr}}</span></span>
        </h2>

        <div class="section-toolbar">
            <div class="block-add-container">
                <select class="no-chosen js-add-block">
                    <option value="">Add a block</option>
                    {{#each blockOptions}}
                        <option value="{{id}}">{{title}}</option>
                    {{/each}}
                </select>
            </div>

            {{#compare idx 0 operator=">"}}<button type="button" class="section-move section-move-up section-edit-button js-up" data-idxsec="0" title="Move section up"></button>{{/compare}}
            {{#compare idx total operator="<"}}<button type="button" class="section-move section-move-down section-edit-button js-down" data-idxsec="0" title="Move section down"></button>{{/compare}}
            {{#compare section.status 1 operator="=="}}<a href="#" class="js-status-toggle section-edit section-edit-button" title="Active section" data-status="0" data-active="1"><img src="/cms/images/dotGreen.gif"></a>{{/compare}}
            {{#compare section.status 0 operator="=="}}<a href="#" class="js-status-toggle section-edit section-edit-button" title="Active section" data-status="1" data-active="1"><img src="/cms/images/dotRed.gif"></a>{{/compare}}
            <a href="#" class="js-edit-section section-edit section-edit-button" title="Edit section"><img src="/cms/images/editIcon.gif"></a>
            <a href="#" class="js-delete-section section-delete section-edit-button" data-idxsec="0" title="Remove section"><img src="/cms/images/binIcon.gif"></a>
        </div>


        <div style="clear: both;"></div>
        <div class="js-blocks section-blocks">
            <div class="content-block block-placeholder js-no-blocks" style="display: block;"></div>
        </div>
    </div>
{% endverbatim %}