{% verbatim %}
    <input type="hidden" name="sectionId" value="{{section.id}}">
    <input type="hidden" name="blockId" value="{{block.block}}">
    <input type="hidden" name="id" value="{{block.id}}">
    <input type="hidden" name="twig" value="{{block.twig}}">
    <input type="hidden" name="status" value="{{section.status}}">

    <div class="form-group">
        <label>Block name:</label>
        <input type="text" name="name" value="{{block.title}}" placeholder="Enter a name" class="form-control">
    </div>
{% endverbatim %}