{% extends 'cms/orms/orm.html.twig' %}

{% block formWidgets %}
    {{ form_row(form.title) }}
    {{ form_row(form.subtitle) }}
    {{ form_row(form.brand) }}
    {{ form_row(form.type) }}

    {{ form_row(form.categories) }}
    {{ form_row(form.sku) }}

    {{ form_row(form.noMemberDiscount) }}
    {{ form_row(form.noPromoDiscount) }}

    {{ form_row(form.pageRank) }}

    {{ form_row(form.gallery) }}
    {{ form_row(form.description) }}

    <div class="variant-container">
        <hr/>
        <a class="button-normal button-galery js-add-variant" style="float: right;"><i class="fas fa-plus"></i> Variant</a>
        <h2>Product Variants</h2>

        <table class="table table-striped table-bordered table-hover table-middle js-product-variants-table product-variants-table" style="margin-top: .2em">
            <thead>
                <tr>
                    <th class="tableHead" title="Variant title">Title</th>
                    <th class="tableHead" width="15%" title="Stock keeping unit">SKU</th>
                    <th class="tableHead" width="10%" title="Original price">Retail</th>
                    <th class="tableHead" width="10%" title="Promotional price">Sale</th>
                    <th class="tableHead" width="5%" title="Weight">Wgt</th>
                    <th class="tableHead" width="5%" title="Stock">Stk</th>
                    <th class="tableHead" width="5%" title="Alert if stock less than">Alt</th>
                    <th class="tableHead" width="12%"></th>
                </tr>
            </thead>
        </table>
    </div>

    {{ form_row(form.saleStart) }}
    {{ form_row(form.saleEnd) }}
    {{ form_row(form.onSale) }}
    <div>&nbsp;</div>

    <div class="product-special-section" style="display: none2;">
        <h4>(Non editable) For display & search purpose</h4>
        {{ form_row(form.fromPrice, {attr: {disabled: 'disabled'}}) }}
        {{ form_row(form.compareAtPrice, {attr: {disabled: 'disabled'}}) }}
        {{ form_row(form.onSaleActive, {attr: {disabled: 'disabled'}}) }}
        {{ form_row(form.thumbnail, {attr: {disabled: 'disabled'}}) }}
        {{ form_row(form.content, {attr: {disabled: 'disabled'}}) }}
    </div>

    {{ form_rest(form) }}
{% endblock %}

{% block externalFooter %}
    <script id="product-variant-list-item" type="text/x-handlebars-template">{% include 'cms/orms/handlebar/orm-custom-productvariant.tr.twig' %}</script>

    <div id="product-vairant" class="modal fade" aria-hidden="true" role="dialog" tabindex="-1" style="display: none;">
        {#{{ render(controller('MillenniumFalcon\\Controller\\CmsFormController::productVariant', {#}
            {#productUniqid: orm.uniqid,#}
            {#variantId: app.request.get('variantId')#}
        {#})) }}#}
    </div>

    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.pjax/2.0.1/jquery.pjax.min.js"></script>
    <script src="/cms/develop/js/orm-product.js"></script>
{% endblock %}
