{% extends 'cms/orms/orm.html.twig' %}

{% block formWidgets %}
    {{ form_row(form.title) }}
    {{ form_row(form.categories) }}
    {{ form_row(form.sku) }}
    {{ form_row(form.pageRank) }}
    {{ form_row(form.gallery) }}
    {{ form_row(form.description) }}

    <div class="variant-container">
        <hr/>
        <a class="button-normal button-galery js-add-variant" style="float: right;"><i class="fas fa-plus"></i> Variant</a>
        <h2>Product Variants</h2>

        <table class="table table-striped table-bordered table-hover table-middle js-product-variants-table" style="margin-top: .2em">
            <thead>
                <tr>
                    <th class="tableHead">Title</th>
                    <th class="tableHead" width="10%">SKU</th>
                    <th class="tableHead" width="10%">Price</th>
                    <th class="tableHead" width="10%">Weight</th>
                    <th class="tableHead" width="10%">Stock</th>
                    <th class="tableHead" width="10%" title="Alert if stock less than">Alert</th>
                    <th class="tableHead" width="15%"></th>
                </tr>
            </thead>
        </table>
        <div>&nbsp;</div>
    </div>


    {{ form_rest(form) }}
{% endblock %}

{% block externalFooter %}
    <script id="product-variant-list-item" type="text/x-handlebars-template">{% include 'cms/orms/handlebar/orm-custom-productvariant.tr.twig' %}</script>

    <div id="product-vairant" class="modal fade" aria-hidden="true" role="dialog" tabindex="-1" style="display: none;">
        {{ render(controller('MillenniumFalcon\\Controller\\CmsFormController::productVariant', {
            productUniqid: orm.uniqid,
            variantId: app.request.get('variantId')
        })) }}
    </div>

    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.pjax/2.0.1/jquery.pjax.min.js"></script>
    <script src="/cms/develop/js/orm-product.js"></script>
{% endblock %}
