{% extends 'cms/base.html.twig' %}
{% block extraBody %}class="page-orm"{% endblock %}

{% form_theme form 'cms/form.twig' %}

{% block externalHead %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" />
	<link rel="stylesheet" href="/cms/redactor/redactor.min.css" />
{% endblock %}

{% block container %}
	{% block heading %}
		<div id="h1">
			{% if orm.id %}
				<h1>Editing #{{ orm.id }}</h1>
			{% else %}
				<h1>Creating new record...</h1>
			{% endif %}
		</div>
	{% endblock %}


    {% block form %}
		<form method="POST" novalidate autocomplete="off" class="edit" enctype="multipart/form-data" data-modelname="{{ ormModel.className }}" data-ormid="{{ orm.id }}">
            {% block formWidgets %}
                {{ form_widget(form) }}
            {% endblock %}

			<div class="submit-area">
                {#{{ form_widget(form._token) }}#}
				<a class="back-button button" href="{{ returnUrl }}">‹ Back</a>
				<button class="submit button save-content" style="background: #2281cf;" name='submit' value='Apply'>Apply</button>
				<button class="submit button" name='submit' value='Save'>Save & Exit ›</button>
			</div>
		</form>
    {% endblock %}

	<div id="orm-popup-container" class="wrapper wrapper-content file-manager mode-asset orm-fm js-orm-fm">
		{% include 'cms/includes/file-manager.html.twig' %}
	</div>
{% endblock %}


{% block externalFooter %}
	<script id="gallery-file" type="text/x-handlebars-template">{% include 'cms/orms/handlebar/orm.gallery-file.twig' %}</script>
	<script src="/cms/redactor/redactor.min.js" language="javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>
	<script src="/cms/js/orm.js"></script>
{% endblock %}