{% extends 'cms/base.twig' %}
{% block extraBodyClass %}page-orm {% if versionOrm %}page-restore{% endif %}{% endblock %}

{% form_theme form 'cms/form.twig' %}

{% set versionOrm = model.data(ormModel.className, {
	whereSql: 'm.versionUuid = ?',
	params: [urlFragments|last],
	limit: 1,
	oneOrNull: 1,
	includePreviousVersion: 1,
}) %}

{% set cancelVersionRestoreUrl = null %}
{% if versionOrm %}
	{% set cancelVersionRestoreUrl = app.request.uri|replace({('/version/' ~ versionOrm.versionUuid): ''}) %}
{% endif %}

{% block externalHead %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" />
	<link rel="stylesheet" href="/cms/redactor/redactor.min.css" />
{% endblock %}

{% block container %}
	<input id="isNew" value="{{ orm.id ? 0 : 1 }}" type="hidden">
	<input id="canBePreviewed" value="{{ orm.canBePreviewed ? 1 : 0 }}" type="hidden">
	<input id="isRestoringFromVersion" value="{{ versionOrm ? 1 : 0 }}" type="hidden">
	<input id="versionOrmId" value="{{ versionOrm ? versionOrm.id : '' }}" type="hidden">
	<input id="isDraft" value="{{ versionOrm and versionOrm.isDraft ? 1 : 0 }}" type="hidden">
	<input id="cancelVersionRestoreUrl" value="{{ cancelVersionRestoreUrl }}" type="hidden">
	<input id="returnUrl" value="{{ returnUrl }}" type="hidden">
	<input id="currentOrmAuthor" value="{{ currentOrm and currentOrm.objLastEditedBy ? currentOrm.objLastEditedBy.name : '' }}" type="hidden">
	<input id="currentOrmDateTime" value="{{ currentOrm and currentOrm.modified ? (currentOrm.modified|date('d F Y') ~ ' @ ' ~ orm.modified|date('g:ia')) : '' }}" type="hidden">

	{% block heading %}
        {% if returnUrl %}
			<a class="link-back-to-listing" href="{{ returnUrl }}"><i class="icon icon--back-to-listing icon--l"></i>Back to listing</a>
        {% endif %}

		<div id="h1">
			{% if orm.id %}
				<h1>{{ orm.title }}</h1>
			{% else %}
				<h1>Creating new record</h1>
			{% endif %}

			<div class="article-state-revision">
				{% if not versionOrm %}
					<span class="article-state article-state--current">Current</span>
					<span class="article-revision-label">{{ orm.objLastEditedBy ? orm.objLastEditedBy.name ~ ' - ' : '' }}{{ orm.modified ? (orm.modified|date('d F Y') ~ ' @ ' ~ orm.modified|date('g:ia')) : '' }}</span>
                {% else %}
					{% if versionOrm.isDraft %}
						<span class="article-state article-state--draft">Draft</span>
					{% else %}
						<span class="article-state article-state--revision">Recent</span>
					{% endif %}
					<span class="article-revision-label">{{ versionOrm.objLastEditedBy ? versionOrm.objLastEditedBy.name ~ ' - ' : '' }}{{ versionOrm.modified ? (versionOrm.modified|date('d F Y') ~ ' @ ' ~ versionOrm.modified|date('g:ia')) : '' }}</span>
                {% endif %}
			</div>
		</div>
	{% endblock %}


    {% block form %}
        {% if not fragmentSubmitted %}
			<form method="POST" novalidate autocomplete="off" class="edit" enctype="multipart/form-data" data-modelname="{{ ormModel.className }}" data-ormid="{{ orm.uniqid }}">
				{% block formWidgets %}
					<div style="display: none;">
						{{ form_row(form.status) }}
					</div>

					{{ form_widget(form) }}
				{% endblock %}


				{% if orm.isVersioned %}
					<div style="display: none;" class="js-version-container version-container">
						{% set drafts = model.data(ormModel.className, {
							whereSql: 'm.versionId = ? AND m.isDraft = 1',
							params: [orm.id],
							sort: 'm.id',
							order: 'DESC',
							includePreviousVersion: 1,
						}) %}
						{% if drafts|length %}
							<div class="js-version-container-drafts">
								<label>Last {{ drafts|length }} <strong>Draft(s)</strong>:</label>
								<ul id="versions" class="versions">
									{% for itm in drafts %}
										<li class="versions__item js-versions__item">
											<div class="versions__info versions-info">
												<div class="versions-info__author js-versions-info__author">
													{{ itm.objLastEditedBy ? itm.objLastEditedBy.name : '' }}
												</div>
												<div class="versions-info__time js-versions-info__time">
													{{ itm.modified|date('d F Y') }} @ {{ itm.modified|date('h:ia') }}
												</div>
											</div>
											<a class="versions__restore js-versions__restore" href="{{ basePathInfo }}/version/{{ itm.versionUuid }}{% if app.request.queryString %}?{{ app.request.queryString }}{% endif %}">Edit</a>
											<a class="js-delete-version versions__delete" href="#versions" data-classname="{{ ormModel.className }}" data-id="{{ itm.id }}" class="js-delete-version" data-idxsec="0" title="Remove version"><img src="/cms/images/binIcon.gif"></a>
										</li>
									{% endfor %}
								</ul>
							</div>
						{% endif %}

						<div class="js-version-container-versions">
							{% set versions = model.data(ormModel.className, {
								whereSql: 'm.versionId = ? AND (m.isDraft = 0 OR m.isDraft IS NULL)',
								params: [orm.id],
								sort: 'm.id',
								order: 'DESC',
								includePreviousVersion: 1,
							}) %}
							{% if versions|length %}
								<label>Last {{ versions|length }} <strong>Version(s)</strong>:</label>
							{% else %}
								<label>Previous <strong>Version(s)</strong>:</label>
							{% endif %}
							{% if versions|length %}
								<ul id="versions" class="versions">
									{% for itm in versions %}
										<li class="versions__item js-versions__item">
											<div class="versions__info versions-info">
												<div class="versions-info__author js-versions-info__author">
													{{ itm.objLastEditedBy ? itm.objLastEditedBy.name : '' }}
												</div>
												<div class="versions-info__time js-versions-info__time">
													{{ itm.modified|date('d F Y') }} @ {{ itm.modified|date('h:ia') }}
												</div>
											</div>
											<a class="js-versions__restore versions__restore" href="{{ basePathInfo }}/version/{{ itm.versionUuid }}{% if app.request.queryString %}?{{ app.request.queryString }}{% endif %}">Review</a>
											<a class="js-delete-version versions__delete" href="#versions" data-classname="{{ ormModel.className }}" data-id="{{ itm.id }}" class="js-delete-version" data-idxsec="0" title="Remove version"><img src="/cms/images/binIcon.gif"></a>
										</li>
									{% endfor %}
								</ul>
							{% else %}
								<div>No history found</div>
							{% endif %}
						</div>
					</div>
				{% endif %}

				{% if isFragment %}
					<div class="submit-area">
						<button class="back-button button js-closeFragmentWindow" type="button">Close</button>
						<button class="button-red" style="background: #2281cf;" name='submit' value='Save changes'>Save</button>
					</div>
				{% else %}
					<div class="submit-area" style="display: none;">
						{% if versionOrm %}
							{% if orm.canBePreviewed %}
								<div class="preview">
									<button class="js-orm-preview submit button preview" name='submit' value='Preview'>Preview</button>
								</div>
							{% endif %}

							<div class="submit-buttons submit-buttons-bottom">
								{% if versionOrm.isDraft %}
									<button class="js-orm-restore submit button restore" name='submit' value='Restore'>Publish</button>
                                	<button class="js-orm-update submit button update" name='submit' value='Update'>Update</button>
								{% else %}
									<button class="js-orm-restore submit button restore restore-button-only" name='submit' value='Restore'>Restore</button>
								{% endif %}

								<a href="{{ cancelVersionRestoreUrl }}" class="js-orm-restore-cancel submit button cancel">Back</a>
							</div>
						{% else %}
							{% if orm.canBePreviewed %}
								<div class="preview">
									<button class="js-orm-preview submit button preview" name='submit' value='Preview'>Preview</button>
									<button class="js-orm-draft submit button draft" name='submit' value='Save as draft'>Save as draft</button>
								</div>
							{% endif %}

							<div class="enabled-status">
								<div class="formStyle choice">
									<div id="submit_area_orm_status">
										<div>
											<input class="js-submit-orm-status" name="submit_area_orm_status" type="radio" id="submit_area_orm_status_0" value="1" {% if orm.status %}checked="checked"{% endif %}>
											<label for="submit_area_orm_status_0" class="required">Enabled</label>
										</div>
										<div>
											<input class="js-submit-orm-status" name="submit_area_orm_status" type="radio" id="submit_area_orm_status_1" value="0" {% if not orm.status %}checked="checked"{% endif %}>
											<label for="submit_area_orm_status_1" class="required">Disabled</label>
										</div>
									</div>
								</div>
							</div>

							<div class="submit-buttons submit-buttons-bottom">
								{% if returnUrl %}
									<a class="back-button button js-returnUrl" href="{{ returnUrl }}">‹ Back</a>
								{% endif %}

								<button class="js-orm-apply submit button save-content {% if not returnUrl %}one-button-only{% endif %}" style="background: #2281cf;" name='submit' value='Apply'>Apply</button>

								{% if returnUrl %}
									<button class="js-orm-save submit button save" name='submit' value='Save'>Save</button>
								{% endif %}
							</div>
						{% endif %}
					</div>
				{% endif %}
			</form>
		{% endif %}
    {% endblock %}

	<div id="orm-popup-container" class="wrapper wrapper-content file-manager mode-asset orm-fm js-orm-fm">
		{% include 'cms/includes/file-manager.html.twig' %}
	</div>

	<script id="no_content_blocks_sidebar" type="text/x-handlebars-template">{% include 'cms/orms/handlebar/orm.fragment-sidebar.twig' %}</script>
{% endblock %}


{% block externalFooter %}
	<script id="gallery-file" type="text/x-handlebars-template">{% include 'cms/orms/handlebar/orm.gallery-file.twig' %}</script>
	<script src="/cms/redactor/redactor.js" language="javascript"></script>
    <script src="/cms/redactor/_plugins/video/video.js" language="javascript"></script>
    <script src="/cms/redactor/_plugins/table/table.js" language="javascript"></script>
	<script src="/cms/redactor/_plugins/counter/counter.js" language="javascript"></script>
	<script src="/cms/redactor/_plugins/alignment/alignment.js" language="javascript"></script>
	<script src="/cms/redactor/_plugins/properties/properties.js" language="javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.legacy.min.css" type="text/css" media="screen" />
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.min.js"></script>

	{% if file_exists('/js/core/custom_widget.js') %}
		<script src="/js/core/custom_widget.js"></script>
	{% endif %}

	<script src="/cms/develop/js/orm.redactor.module.image.js?v={{ version }}"></script>
	<script src="/cms/develop/js/orm.js?v={{ version }}"></script>

    {% if fragmentSubmitted %}
		<script>
			$(function () {
                parent.$.fancybox.close();
            });
		</script>
    {% endif %}
{% endblock %}
