{% extends 'cms/orms/orms.twig' %}

{% block container %}
    <div id="h1">
        {% block ormModelTitle %}<h1>{{ ormModel.title }}</h1>{% endblock %}
{#        {% block ormModelAdd %}<a class="addForm button" href="{{ theNode.url }}/new?returnUrl={{ app.request.uri|url_encode }}">Add new record ›</a>{% endblock %}#}
    </div>

    {% block ormModelExtra %}
        <form method="POST" action="{{ app.request.pathInfo }}" class="edit orms-search" autocomplete="off" novalidate="">
            <div class="formStyle" style="width: 36em;">
                <label for="form">Form (pick a form to export):</label>
                <select id="form" name="form" onchange="$(this).closest('form').find('[value=Go]').click();">
                    <option value="all" {% if not filterFormDescriptor %}selected{% endif %}>All</option>
                    {% for itm in formDescriptors %}
                        <option value="{{ itm.slug }}" {% if filterFormDescriptor and filterFormDescriptor.slug == itm.slug %}selected{% endif %}>{{ itm.title }} ({{ itm._count }})</option>
                    {% endfor %}
                </select>
            </div>
            {% if filterFormDescriptor %}
                <div class="formStyle" style="width: 8em;">
                    <label for="format">Format:</label>
                    <select id="format" name="format">
                        <option value="1" {% if filterFormat == 1 %}selected{% endif %}>CSV</option>
                        <option value="2" {% if filterFormat == 2 %}selected{% endif %}>Excel</option>
                    </select>
                </div>
            {% endif %}
            <br />
            <div class="formStyle datepicker" style="width: 17em;">
                <label for="start">From</label>
                <input type="text" id="start" name="start" value="{{ filterStart ? filterStart|date('d F Y') : '' }}" class="hasDatepicker">
            </div>
            <div class="formStyle datepicker" style="width: 17em;">
                <label for="end">To</label>
                <input type="text" id="end" name="end" value="{{ filterEnd ? filterEnd|date('d F Y') : '' }}" class="hasDatepicker">
            </div>
            <div class="formStyle" style="width: 12em; padding-top: 25px;">
                <input name="submit" type="submit" class="button button-grey" value="Go">
                {% if filterFormDescriptor %}
                    <input name="submit" type="submit" class="button button-grey" style="background-color: green;" value="Export">
                {% endif %}
            </div>
        </form>
    {% endblock %}

    {% block dataPaginationTop %}
        {% if totalPages is defined and totalPages > 1 %}
            {% include 'cms/includes/pagination.twig' %}
        {% else %}
            <div>&nbsp;</div>
            <div>&nbsp;</div>
        {% endif %}
    {% endblock %}

    {% block tableContainer %}
        {% if total is defined %}
            <h4>{{ total }} item(s) found</h4>
        {% endif %}
        <table class="table table-striped table-bordered table-hover table-middle">
            {% block tableHead %}
                <tbody>
                <tr>
                    <td class="tableHead" width="40px"><a href="{{ urlNoSort }}{{ '?' in urlNoSort ? '&' : '?' }}sort=id&order={{ order == 'ASC' ? 'DESC' : 'ASC' }}">ID</a></td>
                    <td class="tableHead"><a href="{{ urlNoSort }}{{ '?' in urlNoSort ? '&' : '?' }}sort=title&order={{ order == 'ASC' ? 'DESC' : 'ASC' }}">Title</a></td>
                    <td class="tableHead" width="160px"><a href="{{ urlNoSort }}{{ '?' in urlNoSort ? '&' : '?' }}sort=added&order={{ order == 'ASC' ? 'DESC' : 'ASC' }}">Added</a></td>
                    <td class="tableHead" width="120px" align="right">Action</td>
                </tr>
                </tbody>
            {% endblock %}

            {% block tableBody %}
                <tbody {% block extraColumns %}{% endblock %}>
                {% set limit = 40 %}
                {% for itm in orms %}
                    {% block tableRow %}
                        <tr id="{{ itm.id }}" class="js-orm-info">
                            <td>{{ itm.id }}</td>
                            <td>
                                {% set frontendUrl = itm.getFrontendUrlByCustomUrl(ormModel.siteMapUrl) %}
                                {% if frontendUrl and itm.status == 1 %}
                                    <a target="_blank" href="{{ frontendUrl }}">{{ itm.title|length > limit ? (itm.title|slice(0, limit) ~ '&hellip;')|raw : itm.title }}</a>
                                {% else %}
                                    {{ itm.title|length > limit ? (itm.title|slice(0, limit) ~ '&hellip;')|raw : itm.title }}
                                {% endif %}
                            </td>
                            <td>{{ itm.added|date('d M y g:ia') }}</td>
                            <td class="iconCell" align="right">
                                <a href="#" class="js-orm-status" data-status="{{ itm.status }}"><img src="/cms/images/dot{{ itm.status ? 'Green' : 'Red' }}.gif" alt="" border="0"></a>
                                <a href="{{ theNode.url }}/{{ itm.id }}?returnUrl={{ app.request.uri|url_encode }}"><img src="/cms/images/editIcon.gif" alt="Edit Record" title="Edit Record" border="0"></a>
                                <a href="{{ theNode.url }}/copy/{{ itm.id }}?returnUrl={{ app.request.uri|url_encode }}"><img src="/cms/images/cloneIcon.gif" alt="Copy Record" title="Copy Record" border="0"></a>
                                <a href="#" class="js-orm-delete"><img alt="Delete Record" title="Delete Record" src="/cms/images/binIcon.gif" border="0"></a>
                            </td>
                        </tr>
                    {% endblock %}
                {% endfor %}
                </tbody>
            {% endblock %}
        </table>
    {% endblock %}

    {% block dataPaginationBottom %}
        {% if totalPages is defined and totalPages > 1 %}
            {% include 'cms/includes/pagination.twig' %}
        {% endif %}
    {% endblock %}
{% endblock %}

{% block externalFooter %}
    <script src="/cms/develop/templates/orm.gallery-file.handlbars.js" nonce="{{ nonce() }}"></script>
    <script src="/cms/redactor/redactor.min.js" language="javascript" nonce="{{ nonce() }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" nonce="{{ nonce() }}"></script>
    <script src="/cms/develop/js/orm.js" nonce="{{ nonce() }}"></script>
{% endblock %}
