{% extends 'cms/orms/orms.twig' %}

{% block container %}
    <div id="h1">
        <h1>{{ ormModel.title }}</h1>
        {#<a class="addForm button" href="{{ node.url }}/new?returnUrl={{ app.request.uri|url_encode }}">Add new record ›</a>#}
    </div>

    {% block ormModelExtra %}{% endblock %}

    {% block dataPaginationTop %}
        {% if totalPages is defined and totalPages > 1 %}
            {% include 'cms/includes/pagination.twig' %}
        {% endif %}
    {% endblock %}

    {% if total is defined %}
        <h4>{{ total }} item(s) found</h4>
    {% endif %}

    <table class="table table-striped table-bordered table-hover table-middle">
        {% block tableHead %}
            <tbody>
                <tr>
{#                    <td class="tableHead" width="40px"><a href="{{ app.request.pathInfo }}?sort=id&order={{ order == 'ASC' ? 'DESC' : 'ASC' }}">ID</a></td>#}
                    <td class="tableHead"><a href="{{ app.request.pathInfo }}?sort=title&order={{ order == 'ASC' ? 'DESC' : 'ASC' }}">ID</a></td>
                    <td class="tableHead"><a href="{{ app.request.pathInfo }}?sort=shippingFirstName&order={{ order == 'ASC' ? 'DESC' : 'ASC' }}">Name</a></td>
                    <td class="tableHead" width="150px"><a href="{{ app.request.pathInfo }}?sort=added&order={{ order == 'ASC' ? 'DESC' : 'ASC' }}">Date</a></td>
                    <td class="tableHead"><a href="{{ app.request.pathInfo }}?sort=total&order={{ order == 'ASC' ? 'DESC' : 'ASC' }}">Price</a></td>
                    <td class="tableHead"><a href="{{ app.request.pathInfo }}?sort=category&order={{ order == 'ASC' ? 'DESC' : 'ASC' }}">Status</a></td>
                    <td class="tableHead" width="120px" align="right">Action</td>
                </tr>
            </tbody>
        {% endblock %}

        {% block tableBody %}
            <tbody {% block extraColumns %}{% endblock %}>
                {% for itm in orms %}
                    <tr id="{{ itm.id }}" class="js-orm-info">
{#                        <td>{{ itm.id }}</td>#}
                        <td>{{ itm.title }}</td>
                        <td>{{ itm.shippingFirstname }} {{ itm.shippingLastName }}</td>
                        <td>{{ itm.submittedDate|date('d M y H:i') }}</td>
                        <td>${{ itm.total|number_format(2) }}</td>
                        <td>
                            {% if itm.category == cart.statusAccepted %}PAID{% else %}UNPAID{% endif %}
                        </td>
                        <td class="iconCell" align="right">
{#                            <a href="#" class="js-orm-status" data-status="{{ itm.status }}"><img src="/cms/images/dot{{ itm.status ? 'Green' : 'Red' }}.gif" alt="" border="0"></a>#}
                            <a href="{{ theNode.url }}/{{ itm.id }}?returnUrl={{ app.request.uri|url_encode }}"><img src="/cms/develop/images/search.png" alt="Edit Record" title="Edit Record" border="0"></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% endblock %}
    </table>

    {% block dataPaginationBottom %}
        {% if totalPages is defined and totalPages > 1 %}
            {% include 'cms/includes/pagination.twig' %}
        {% endif %}
    {% endblock %}
{% endblock %}
