{% extends 'cms/orms/orms-pagination.twig' %}

{% block ormModelExtra %}
    <form method="GET" action="{{ app.request.pathInfo }}" class="edit orms-search" autocomplete="off" novalidate="">
        <div class="formStyle" style="width: 10em;">
            <label for="status">Status:</label>
            <select id="status" name="status" onchange="$(this).closest('form').submit();">
                <option value="0" {% if filterStatus == 0 %}selected{% endif %}>All</option>
                <option value="1" {% if filterStatus == 1 %}selected{% endif %}>Enabled only</option>
                <option value="2" {% if filterStatus == 2 %}selected{% endif %}>Disabled only</option>
            </select>
        </div>
        <div class="formStyle" style="width: 20em;">
            <label for="keyword">Keyword:</label>
            <input id="keyword" name="keyword" type="text" value="{{ filterKeyword }}">
        </div>
        <div class="formStyle" style="width: 3em; padding-top: 25px;">
            <button type="submit" class="button button-grey">Go</button>
        </div>
    </form>
{% endblock %}

{% block tableHead %}
    <tbody>
        <tr>
{#            <td class="tableHead" width="100px">Modified</td>#}
            <td class="tableHead">URL</td>
            <td class="tableHead">Redirect to</td>
{#            <td class="tableHead" width="100px">Added</td>#}
            <td class="tableHead" width="120px" align="right">Action</td>
        </tr>
    </tbody>
{% endblock %}

{% block tableRow %}
    <tr id="{{ itm.id }}" class="js-orm-info">
{#        <td>{{ itm.modified|date('d M y') }}</td>#}
        <td title="{{ itm.title }}">
            {% set frontendUrl = itm.frontendUrlByCustomUrl(ormModel.siteMapUrl) %}
            {% if frontendUrl and itm.status == 1 %}
                <a target="_blank" href="{{ frontendUrl }}">{{ itm.title|length > limit ? (itm.title|slice(0, limit) ~ '&hellip;')|raw : itm.title }}</a>
            {% else %}
                {{ itm.title|length > limit ? (itm.title|slice(0, limit) ~ '&hellip;')|raw : itm.title }}
            {% endif %}
        </td>
        <td title="{{ itm.to }}">
            {{ itm.to|length > limit ? (itm.to|slice(0, limit) ~ '&hellip;')|raw : itm.to }}
        </td>
{#        <td>{{ itm.added|date('d M y') }}</td>#}
        <td class="iconCell" align="right">
            <a href="#" class="js-orm-status" data-status="{{ itm.status }}"><img src="/cms/images/dot{{ itm.status ? 'Green' : 'Red' }}.gif" alt="" border="0"></a>
            <a href="{{ theNode.url }}/{{ itm.id }}?returnUrl={{ app.request.uri|url_encode }}"><img src="/cms/images/editIcon.gif" alt="Edit Record" title="Edit Record" border="0"></a>
            <a href="{{ theNode.url }}/copy/{{ itm.id }}?returnUrl={{ app.request.uri|url_encode }}"><img src="/cms/images/cloneIcon.gif" alt="Copy Record" title="Copy Record" border="0"></a>
            <a href="#" class="js-orm-delete"><img alt="Delete Record" title="Delete Record" src="/cms/images/binIcon.gif" border="0"></a>
        </td>
    </tr>
{% endblock %}

{% block extraColumns %}class="js-sort-column"{% endblock %}
{% block dataPagination %}{% endblock %}

