{% set timeStamp = "now"|date('Y-m-d-His') %}
{% set siteTitle = 'siteTitle' %}
{% set page = theNode.extraInfo %}

<!DOCTYPE html>
<html lang="en">
    <head>

        {% block metaDesc %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="{{ page.metaDescription|striptags }}">
        {% endblock %}

        {% block links %}
            <link rel="stylesheet" href="/css/checkout.css?v={{ timeStamp }}">
            <link rel="shortcut icon" href="/images/favicon.png?v={{ timeStamp }}" type="image/png" />
            <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?v={{ timeStamp }}">
        {% endblock %}

        {% block js %}
            <script src="{{ asset('build/runtime.js') }}?v={{ timeStamp }}" defer></script>
            <script src="{{ asset('build/checkout.js') }}?v={{ timeStamp }}" defer></script>
        {% endblock %}
    </head>

    <body class="js-body headroom headroom--top headroom--not-bottom">
        <div class="checkout-container grid-row mw-1600 mx-auto">

            {% block promoBlock %}
                {% include 'cart/includes//checkout-sidebar-mobile-toggle.twig' %}
                <aside id="order-summary" class="checkout-aside js-checkout-aside section-inner--s section-inner--py grid-col l-5">
                    {% include '/cart/includes/checkout-sidebar.twig' with { cart: cart, showpromo: true } %}
                </aside>
            {% endblock %}

            <div class="checkout-details section-inner section-inner--py grid-col l-7">
                {% block cartHeader %}
                    <header class="checkout-header--large mw-600 mx-auto">
                        <a class="checkout-header--large__logo l-visible" href="/"><img src="/images-checkout/checkout--logo.svg" alt="{{ siteTitle }}" /></a>

                        <div class="section-inner--pb--s">
                            <ol class="checkout-steps list-reset">
                                <li class="checkout-step"><a href="/checkout/information" class="checkout-step__label active">Information</a></li>
                                <li class="checkout-step"><a href="/checkout/shipping" class="checkout-step__label">Shipping</a></li>
                                <li class="checkout-step"><a href="/checkout/payment" class="checkout-step__label">Payment</a></li>
                            </ol>
                        </div>
                    </header>
                {% endblock %}


                <main class="checkout-main mw-600 mx-auto">
                    {% block checkoutMain %}{% endblock %}
                </main>


                {% block checkoutFooter %}
                    <footer class="checkout-footer mw-600 mx-auto">
                        <div class="checkout-footer__logos"></div>

                        <div class="checkout-footer__links">
                            <a class="checkout-footer__link" href="/terms" target="_blank">Terms &amp; conditions</a>
                        </div>
                    </footer>
                {% endblock %}
            </div>
        </div>
    </body>
</html>