{% extends 'base.twig' %}

{% block main %}
    <div class="cart__inner">
        <div class="cart-header">
            <div class="cart-header__heading">
                <span class="txt heading--section">My cart</span>
                <span class="cart-header__quantity header__cart-count js-cart-count">{{ cart.objOrderItems|length }}</span>
            </div>
        </div>
        <div class="cart-main">
            <div class="js-products-no-results products-no-results cart__no-results {% if cart.objOrderItems|length > 0 %}hidden{% endif %}">
                <img src="/images/icons/icon--empty-cart.svg" alt="" aria-hidden="true">
                <h2 class="heading--block headings--block">My cart is empty.</h2>
                <a href="/shop" class="button button--primary button--small">Shop now</a>
            </div>
            <ul class="cart__list">
                {% for itm in cart.objOrderItems %}
                    <li class="cart__item cart-item js-cart-item" data-id="{{ itm.id }}">

                        <button type="button" class="cart-item__remove cart-item__remove--mobile js-cart-remove">
                            <i class="icon">{% include "/cart/svg/icon--remove.svg" %}</i>
                            <span class="visuallyhidden">Remove product from cart</span>
                        </button>


                        <div class="cart-item__image" style="background-image:url({{ itm.imageUrl|replace({'/card' : '/small'}) }})">
                            <img src="/images/assets/{{ itm.image }}/small" class='visuallyhidden' alt="">
                            <button type="button" class="cart-item__remove cart-item__remove--thumb js-cart-remove">
                                <i class="icon">{% include "/cart/svg/icon--remove.svg" %}</i>
                                <span class="visuallyhidden">Remove product from cart</span>
                            </button>
                        </div>
                        <div class="cart-item__info">
                            <div class="cart-item__title-make">
                                <div class="cart-item__title">{{ itm.title }}</div>
                            </div>
                            <div class="cart-item__price-size">
                                <div class="cart-item__price js-subtotal"><span>${{ (itm.price * itm.quantity)|number_format(2) }}</span></div>
                            </div>
                            <div class="cart-item-quantity">
                                <div class="cart-item-quantity__wrapper">
                                    <button type="button" class="js-cart-qty-btn minus cart-item-quantity__operator minus js-cart-minus">
                                        <i class="icon">{% include "/cart/svg/icon--minus.svg" %}</i>
                                        <span class="visuallyhidden">Decrease quantity of items</span>
                                    </button>

                                    <label class="cart-item-quantity__field">
                                        <input type="number" class="js-cart-qty cart-item-quantity__input" name="" value="{{ itm.quantity }}" data-price="{{ itm.price }}">
                                    </label>
                                    <button type="button" class="js-cart-qty-btn plus cart-item-quantity__operator plus js-cart-plus">
                                        <i class="icon">{% include "/cart/svg/icon--plus.svg" %}</i>
                                        <span class="visuallyhidden">Increase quantity of items</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>

        </div>

        <div class="cart-footer js-cart-footer">
            {% include '/cart/includes/cart-subtotal.twig' %}
        </div>
    </div>
{% endblock %}