<div class="mini-cart__inner section-inner">
    
    <button type="button" class="button--mini-cart-close js-cart-close">
        Close <span class="visuallyhidden">cart view</span>
    </button>
    


    <header class="headings--section js-cart-mini-header js-products-with-results {% if cart.objOrderItems|length == 0 %}hidden{% endif %}">
        <h1 class="heading--section">Your cart</h1>
        <span class="js-cart-count">{{ cart.objOrderItems|length }}</span> item{% if cart.objOrderItems|length > 1 %}s{% endif %}
    </header>


    <div class="mini-cart__main">

        {#---------------------------------------------------------------------------------------
            /Empty
        ----------------------------------------------------------------------------------------#}
        <div class="js-products-no-results products-no-results mini-cart__no-results {% if cart.objOrderItems|length > 0 %}hidden{% endif %}">
            <h2 class="heading--block">Your cart is empty.</h2>
            <a href="{{ getenv('SHOP_URL') }}" class="link">Shop now</a>
        </div>


        {#---------------------------------------------------------------------------------------
            /Full
        ----------------------------------------------------------------------------------------#}
        <ul class="list-reset js-products-with-results {% if cart.objOrderItems|length == 0 %}hidden{% endif %}">
            {% for itm in cart.objOrderItems %}
                <li class="mini-cart__product js-cart-item flex" data-id="{{ itm.id }}">

                    <div class="mini-cart__product-image">
                        {% set image = model.byId('Asset', itm.image) %}
                        {% if image and image.clearCutImage %}
                            <figure class="card-img--clearcut aspect-ratio--1x1">
                                <img class="card-link__image-clearcut object-fit object-fit--contain" src="/images/assets/{{ image.code }}/tiny" alt="{{ itm.productName }}{% if itm.variantName %} - {{ itm.variantName }}{% endif %}">
                            </figure>
                        {% else %}
                            <figure class="card-img aspect-ratio--1x1">
                                <img class="object-fit object-fit--cover" src="{{ itm.imageUrl|replace({'/card' : '/tiny'}) }}" alt="{{ itm.productName }}{% if itm.variantName %} - {{ itm.variantName }}{% endif %}">
                            </figure>
                        {% endif %}
                    </div>

                    <div class="mini-cart__product-detail">               
                        <h3 class="mini-cart__product-name">{{ itm.productName }}{% if itm.variantName %} - {{ itm.variantName }}{% endif %}</h3>
                        <div class="heading--eyebrow mini-cart__brand">
                            {% if itm.brandName %}
                                by {{ itm.brandName }}
                            {% endif %}
                        </div>
                        
                        <div class="mini-cart__qty">
                            <button type="button" class="js-cart-qty-btn button--cart-qty-operator minus js-cart-minus">
                                <i class="icon">{% include "/cart/svg/icon--minus.svg" %}</i>
                                <span class="visuallyhidden">Decrease quantity of items</span>
                            </button>
                            <label class="cart-item-quantity__field">
                                <input type="number" class="js-cart-qty input--cart-qty" name="" value="{{ itm.quantity }}" data-price="{{ itm.price }}">
                            </label>
                            <button type="button" class="js-cart-qty-btn button--cart-qty-operator plus js-cart-plus">
                                <i class="icon">{% include "/cart/svg/icon--plus.svg" %}</i>
                                <span class="visuallyhidden">Increase quantity of items</span>
                            </button>
                        </div>

                        <button class="button--mini-cart-remove link js-cart-remove" type="button">Remove</button>

                    </div>


                    <div class="mini-cart__product-price">
                        {% if itm.compareAtPrice %}
                            <s class="mini-cart__price mini-cart__price--was">${{ itm.compareAtPrice|number_format(2) }}</s>
                            <div class="mini-cart__price mini-cart__price--now">${{ itm.price|number_format(2) }}</div>
                        {% else %}
                            <div class="mini-cart__price">${{ itm.price|number_format(2) }}</div>
                        {% endif %}
                    </div>

                </li>
            {% endfor %}
        </ul>

    </div>

    
    
    {#---------------------------------------------------------------------------------------
        /Footer
    ----------------------------------------------------------------------------------------#}
    <footer class="mini-cart__footer mt-8 js-products-with-results {% if cart.objOrderItems|length == 0 %}hidden{% endif %}">
        <div class="js-cart-mini-footer">
            {% include '/cart/includes/cart-mini-subtotal.twig' %}
        </div>

        {% include '/cart/includes/cart-payment-logos.twig' %}
    
    </footer>

</div>
