{% extends 'base.twig' %}

{% block main %}

    <section class="section-inner section-inner--pt section-inner--pb">
        <div class="mx-auto mw-1400">
            <header class="headings--page">
                <h1 class="heading--page">Cart</h1>
                <span class="js-products-with-results" style="{% if cart.objOrderItems|length == 0 %}display: none;{% endif %}">Not quite ready to check out? <a class="link" href="/shop">Continue shopping</a>.</span>
                {# <span class="js-cart-count">{{ cart.objOrderItems|length }}</span> #}
            </header>

            
            {#---------------------------------------------------------------------------------------
                /Empty state
            ----------------------------------------------------------------------------------------#}
            <div class="js-products-no-results" style="{% if cart.objOrderItems|length > 0 %}display: none;{% endif %}">
                <img src="/images/icons/icon--empty-cart.svg" alt="" aria-hidden="true">
                <h2 class="heading--block">My cart is empty. <a href="{{ getenv('SHOP_URL') }}" class="link">Shop now</a></h2>
            </div>

            
            {#---------------------------------------------------------------------------------------
                /Cart items
            ----------------------------------------------------------------------------------------#}
            <table class="cart-table js-products-with-results" style="{% if cart.objOrderItems|length == 0 %}display: none;{% endif %}">
                {# <tr>
                    <th class="cart-table__col--product">Product</th>
                    <th class="cart-table__col--price">Price</th>
                    <th class="cart-table__col--qty">Quantity</th>
                    <th class="cart-table__col--subtotal">Subtotal</th>
                </tr>                 #}
                {% for itm in cart.objOrderItems %}
                <tr data-id="{{ itm.id }}" class="js-cart-item">
                    <td class="cart-table__col--product">
                        <div class="flex items-center">
                            <div>
                                <img class="cart-img mr-4" src="/images/assets/{{ itm.image }}/small" alt="{{ itm.productName }}{% if itm.variantName %} - {{ itm.variantName }}{% endif %}">
                            </div>
                            
                            <div>
                                {{ itm.productName }}{% if itm.variantName %} - {{ itm.variantName }}{% endif %}
                                {% if itm.brandName %}
                                    <div><small>by {{ itm.brandName }}</small></div>
                                {% endif %}
                                <button type="button" class="link js-cart-remove">
                                    <small>Remove</small>
                                </button>
                            </div>
                        </div>
                    </td>
                    <td class="cart-table__col--price">
                        {% if itm.compareAtPrice %}
                            <s class="cart-price cart-price--was">${{ itm.compareAtPrice|number_format(2) }}</s>
                            <span class="cart-price cart-price--now">${{ itm.price|number_format(2) }}</span>
                        {% else %}
                            <span class="cart-price">${{ itm.price|number_format(2) }}</span>
                        {% endif %}
                    </td>
                    <td class="cart-table__col--qty">
                        <button type="button" class="js-cart-qty-btn button--cart-qty-operator minus js-cart-minus">
                            <i class="icon">{% include "/cart/svg/icon--minus.svg" %}</i>
                            <span class="visuallyhidden">Decrease quantity of items</span>
                        </button>
                        <label class="cart-item-quantity__field">
                            <input type="number" class="js-cart-qty input--cart-qty" name="" value="{{ itm.quantity }}" data-price="{{ itm.price }}">
                        </label>
                        <button type="button" class="js-cart-qty-btn button--cart-qty-operator plus js-cart-plus">
                            <i class="icon">{% include "/cart/svg/icon--plus.svg" %}</i>
                            <span class="visuallyhidden">Increase quantity of items</span>
                        </button>
                    </td>
                    <td class="cart-table__col--subtotal js-subtotal">
                        {% include 'cart/includes/cart-item-subtotal.twig' %}
                    </td>                    
                </tr>
                {% endfor %}
                <tr class="js-cart-footer">
                    {% include 'cart/includes/cart-subtotal.twig' %}
                </tr> 
            </table>

            <a href="/checkout" class="js-products-with-results button button--primary" style="{% if cart.objOrderItems|length == 0 %}display: none;{% endif %}">Checkout</a>

            <div class="mt-4 js-products-with-results" style="{% if cart.objOrderItems|length == 0 %}display: none;{% endif %}">
                {% include '/cart/includes/cart-payment-logos.twig' %}
            </div>

        </div>
    </section>

{% endblock %}