{% extends '/cart/base.twig' %}
{% block shippingValue %}Free pick-up{% endblock %}

{% block checkoutFooter %}{% endblock %}

{% block promoBlock %}
    <aside id="order-summary" class="checkout-aside js-checkout-aside section-inner--s section-inner--py grid-col l-5">
        {% include '/cart/includes/checkout-sidebar.twig' with { cart: order, showpromo: false } %}
    </aside>
{% endblock %}

{% block cartHeader %}
    <header class="checkout-header--large mw-600 mx-auto">
        <a class="checkout-header--large__logo l-visible" href="/"><img src="/images-checkout/checkout--logo.svg" alt="{{ siteTitle }}"/></a>

        <div class="section-inner--pb--s">
            <ol class="checkout-steps list-reset">
                <li class="checkout-step"><a class="checkout-step__label">Info & Shipping</a></li>
                <li class="checkout-step"><a class="checkout-step__label">Payment</a></li>
                <li class="checkout-step"><a class="checkout-step__label active">Confirmation</a></li>
            </ol>
        </div>
    </header>
{% endblock %}

{% block trackingScripts %}
    {% if order.googleTracked != 1 and order.googleTracked != "1" %}
        {{ order.updateGoogleTracked() }}
        {% sha %}
        <script>
          dataLayer = window.dataLayer || [];

          dataLayer.push({
            'ecommerce': {
              'purchase': {
                'actionField': {
                  'id': "{{ order.title }}",        // Transaction ID. Required for purchases and refunds.
                  'revenue': "{{ order.total|number_format(2,'.','') }}",    // Total transaction value (incl. tax and shipping)
                  'shipping': "{{ order.shippingCost|number_format(2,'.','') }}",
                },
                'products': [
                    {% for oi in order.objOrderItems %}
                  {                 // List / Array of productFieldObjects.
                    'name': "{{ oi.title|raw }}",     // Name or ID is required.
                    'id': "{{ oi.id }}",
                    'price': "{{ oi.price }}",
                    'category': "{{ oi.variantName }}",
                    'quantity': {{ oi.quantity }},
                  }{% if not loop.last %},{% endif %}
                    {% endfor %}
                ]
              }
            }
          });
        </script>
        {% endsha %}
    {% endif %}
{% endblock %}

{% block checkoutMain %}
    {% block checkoutMainHeader %}


        <section class="section-inner--pb--s">
            <header class="checkout-headings--page grid-row grid-row--nowrap mw-480 items-center">
                <i class="checkout-icon--success mr-1">
                    <svg class="checkout-icon--success__icon" width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M22.726 1.10601C23.3118 1.6918 23.3118 2.64155 22.726 3.22733L10.6427 15.3107C10.0569 15.8965 9.10716 15.8965 8.52137 15.3107L1.27137 8.06067C0.685585 7.47488 0.685585 6.52513 1.27137 5.93934C1.85716 5.35356 2.8069 5.35356 3.39269 5.93934L9.58203 12.1287L20.6047 1.10601C21.1905 0.520225 22.1402 0.520225 22.726 1.10601Z" fill="white"/>
                    </svg>
                </i>
                <h1 class="checkout-heading--page checkout-heading--page--success flex-1">Your order has been completed successfully!</h1>
            </header>

            <p>
                Thank you for your purchase!<br/>
                Your order reference number is <strong>#{{ order.title }}</strong>
            </p>
            <p>
                An email confirmation of your purchase has been sent to your email address.
                If you are having trouble or problems with your order, <a href="/contact">contact us</a>.
            </p>
        </section>
    {% endblock %}

    <section class="section-inner--pb--s">
        <header class="checkout-headings--section">
            <h2 class="checkout-heading--section checkout-heading--section--small">My information</h2>
        </header>

        <ul class="checkout-data-rows">
            <li class="checkout-data-row">
                <div class="checkout-data-row__inner grid-row">
                    <div class="grid-col m-3"><label class="checkout-heading--tiny checkout-heading--caps">Name</label></div>
                    <div class="grid-col m-9">{{ order.shippingFirstName }} {{ order.shippingLastName }}</div>
                </div>
            </li>

            <li class="checkout-data-row">
                <div class="checkout-data-row__inner grid-row">
                    <div class="grid-col m-3"><label class="checkout-heading--tiny checkout-heading--caps">EMAIL</label></div>
                    <div class="grid-col m-9">{{ order.email }}</div>
                </div>
            </li>
        </ul>
    </section>

    {% set data = [
        { title: 'Pick-up date', data: 'January 1 2020' },
        { title: 'Location', data: 'Albany Bedpost - 260 Oteha Valley Road, Albany 0632' },
        { title: 'Phone', data: '09 309 5015' },
        { title: 'Email', data: '<a class="checkout-link" href="mailto:bedpost_albany@xtra.co.nz">bedpost_albany@xtra.co.nz</a>' },
    ] %}
    <section class="section-inner--pb--s">
        {% if order.isPickup == 1 %}
            <header class="checkout-headings--section">
                <h2 class="checkout-heading--section checkout-heading--section--small">Pick-up information</h2>
            </header>

            <ul class="checkout-data-rows">
                {% if order.pickupPhone %}
                    <li class="checkout-data-row">
                        <div class="checkout-data-row__inner grid-row">
                            <div class="grid-col m-3"><label class="checkout-heading--tiny checkout-heading--caps">Phone</label></div>
                            <div class="grid-col m-9">{{ order.pickupPhone }}</div>
                        </div>
                    </li>
                {% endif %}

                {% if order.note %}
                    <li class="checkout-data-row">
                        <div class="checkout-data-row__inner grid-row">
                            <div class="grid-col m-3"><label class="checkout-heading--tiny checkout-heading--caps">Note</label></div>
                            <div class="grid-col m-9">{{ order.note|nl2br }}</div>
                        </div>
                    </li>
                {% endif %}
            </ul>
        {% elseif order.isPickup == 2 %}
            <header class="checkout-headings--section">
                <h2 class="checkout-heading--section checkout-heading--section--small">Delivery information</h2>
            </header>

            <ul class="checkout-data-rows">
                <li class="checkout-data-row">
                    <div class="checkout-data-row__inner grid-row">
                        <div class="grid-col m-3"><label class="checkout-heading--tiny checkout-heading--caps">Address</label></div>
                        <div class="grid-col m-9">{{ order.objShippingAddress }}</div>
                    </div>
                </li>

                {% if order.shippingPhone %}
                    <li class="checkout-data-row">
                        <div class="checkout-data-row__inner grid-row">
                            <div class="grid-col m-3"><label class="checkout-heading--tiny checkout-heading--caps">Phone</label></div>
                            <div class="grid-col m-9">{{ order.shippingPhone }}</div>
                        </div>
                    </li>
                {% endif %}

                {% if order.note %}
                    <li class="checkout-data-row">
                        <div class="checkout-data-row__inner grid-row">
                            <div class="grid-col m-3"><label class="checkout-heading--tiny checkout-heading--caps">Note</label></div>
                            <div class="grid-col m-9">{{ order.note|nl2br }}</div>
                        </div>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </section>

    {% block checkoutMainButton %}
        <section class="">
            <a class="checkout-button checkout-button--primary" href="/">Return to store</a>
        </section>
    {% endblock %}
{% endblock %}


{% block promoField %}
{% endblock %}
