{% extends 'base.twig' %}
{% block bodyClasses %}template--product-list{% endblock %}

{% block preload %}
    <link href="{{ preload(asset('css/styles.css') ~ '?v=' ~ timeStamp, { as: 'style' }) }}" as="style" rel="preload">
    <link rel="preload" href="{{ preload(asset('build/runtime.js')) }}?v={{ timeStamp }}" as="script">
    <link rel="preload" href="{{ preload(asset('build/products.js')) }}?v={{ timeStamp }}" as="script">
{% endblock %}

{% block js %}
    <script src="{{ asset('build/runtime.js') }}?v={{ timeStamp }}" defer></script>
    <script src="{{ asset('build/products.js') }}?v={{ timeStamp }}" defer></script>
{% endblock %}

{% block main %}
    {% if selectedProductCategory %}
        {% set asset = model.byId('Asset', selectedProductCategory.image) %}
        
        <section class="section-inner js-category-banner {% if not app.request.get("page") or app.request.get("page") != "landing" %}hidden{% endif %}">
            <header class="mx-auto mw-1400">
                <figure class="aspect-ratio--4x1">
                    {% if asset %}
                        <img class="image-bg lazy object-fit" data-src="/images/assets/{{ asset.getCode() }}/hero" />
                    {% endif %}
                </figure>
                <h2 class="heading--eyebrow mt-4">Products</h2>
                <h1 class="heading--page mt-1">{{ selectedProductCategory.getTitle() }}</h1>
            </header>
        </section>
    {% endif %}

    
    
    <section class="section-inner section-inner--pt section-inner--pb">

        <header class="headings--page mx-auto mw-1400 js-category-info {% if app.request.get("page") and app.request.get("page") == "landing" %}hidden{% endif %}"><h1 class="heading--page">{{ page.pageHeading }}</h1></header>

        <div class="mx-auto mw-1400 grid">

            {#---------------------------------------------------------------------------------------
                /Filtering
            ----------------------------------------------------------------------------------------#}
            <aside class="grid-col l-3 pr-8">
                <div class="l-sticky">
                
                    {% block sidebar %}
                        <header class="xl-hidden">
                            <h2 class="h heading--section">Filters <sup>2</sup></h2>
                            <button type="button" class="close js-products-sidebar-close js-side-panel-close">
                                <i class="icon">{% include "/cart/svg/icon--close-24.svg" %}</i>
                                <span class="visuallyhidden">Close filters panel</span>
                            </button>
                        </header>

                        <form method="get" action="{{ getenv('SHOP_URL') }}" class="js-filter-form">
                            <input type="hidden" name="sortby" class="js-filter-sortby" value="{{ sortby }}">
                            <input type="hidden" name="pageNum" class="js-filter-paginator" value="{{ pageNum }}">
                            
                            <div class="relative">
                                <label for="productSearch" class="visuallyhidden">Search our products:</label>
                                <input id="productSearch" type="text" name="keyword" class="input--txt js-filter-keyword" value="{{ productKeyword }}" placeholder="Search our products">
                                <button class="button--product-search-submit" type="submit" class="js-filter-submit-button">Go</button>
                            </div>

                            {% macro catNav(node, depth, current, parentUrl) %}
                                <li class="subnav__items">
                                    <a class="subnav__link js-filter-category {% if current and treeUtils.contains(node, current) %}active{% endif %}" href="{{ parentUrl }}/{{ node.slug }}">
                                        {{ node.title }}
                                    </a>
                                </li>
                                {% if treeUtils.hasActiveChildren(node) %}
                                    <ul class="list-reset ml-2 subcategory-{{ depth }}">
                                        {% for itm in node.children %}
                                            {{ _self.catNav(itm, depth + 1, current, parentUrl ~ '/' ~ node.slug) }}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endmacro %}

                            <hr class="hr--small" />

                            <div class="js-filters js-sticky">
                                <h2>Categories</h2>
                                <ul class="subnav__items list-reset">
                                    <li class="subnav__item">
                                        <a class="subnav__link js-filter-category {% if not selectedProductCategory %}active{% endif %}" href="{{ getenv('SHOP_URL') }}">
                                            All categories
                                        </a>
                                    </li>

                                    {% for itm in categories.rootNodes %}
                                        {{ _self.catNav(itm, 1, selectedProductCategory, getenv('SHOP_URL')) }}
                                    {% endfor %}
                                </ul>
                            </div>

                            <section class="js-filter-brands">
                                {% include 'cart/includes/product-brands.twig' %}
                            </section>

                            <div class="xl-hidden">
                                <a href="{{ app.request.pathInfo }}" class="button button--clear">
                                    <span>Clear</span>
                                </a>
                                <button type="button" class="button button--primary js-side-panel-close">
                                    <span>Apply</span>
                                </button>
                            </div>
                        </form>
                        <div class="js-side-panel-close"></div>
                    {% endblock %}

                </div>
            </aside>


            {#---------------------------------------------------------------------------------------
                /Listings
            ----------------------------------------------------------------------------------------#}
            <div class="grid-col l-9">
                <div class="products-ui__results js-product-results">
                    {% include '/cart/includes/product-results.twig' %}
                </div>
            </div>

        </div>
    </section>


    {#---------------------------------------------------------------------------------------
        /Recently viewed
    ----------------------------------------------------------------------------------------#}
    {% set recents = shopService.products(app.request.cookies.get('recents')) %}
    {% if recents|length %}
        <section class="section-inner section-inner--pb">
            <div class="mx-auto mw-1400">
                <header class="headings--section"><h2 class="heading--section">Recently viewed</h2></header>

                <ul class="grid gutter-x gutter-y-m list-reset">
                    {% for itm in recents %}
                        {% set gallery = itm.objGallery %}
                        {% set image = gallery|length > 0 ? gallery.0 : null %}

                        <li class="mini-prod-item grid-col m-6 xxl-4">
                            <a class="mini-prod-card grid gutter-x" href="/product/{{ itm.slug }}">
                                <div class="mini-prod-item__img grid-col xs-3">
                                    {% if image and image.clearCutImage %}
                                        <figure class="card-img--clearcut image-bg aspect-ratio--1x1">
                                            <img data-src="/images/assets/{{ image.code }}/xs" alt="{{ image.alt }}" class="card-link__image-clearcut lazy object-fit object-fit--contain">
                                        </figure>
                                    {% else %}
                                        <figure class="image-bg aspect-ratio--1x1">
                                            <img data-src="/images/assets/{{ image ? image.code : getenv('PRODUCT_PLACEHOLDER_ID') }}/xs" alt="{{ image.alt }}" class="lazy object-fit object-fit--cover">
                                        </figure>
                                    {% endif %}
                                </div>
                                <div class="grid-col xs-9">
                                    {% if itm.objBrand %}
                                        <h3 class="mini-prod-item__title">
                                        <div class="heading--eyebrow">{{ itm.objBrand.title }} </div>
                                        {{ itm.title }}
                                        </h3>{% endif %}

                                    {% set variant = itm.objVariant %}
                                    <div class="mini-prod__price">
                                        {% if itm.objOnSaleActive and variant.salePrice %}
                                            <s class="mini-prod-item__price card-link__price__was">From ${{ variant.calculatedPrice(app.user)|number_format(2) }}</s>
                                            <div class="mini-prod-item__price card-link__price__now">From ${{ variant.calculatedSalePrice(app.user)|number_format(2) }}</div>
                                        {% else %}
                                            <div class="mini-prod-item__price card-link__price__now">From ${{ variant.calculatedPrice(app.user)|number_format(2) }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}


                {# Sidebar toggle #}
                {# {% block sidebar_toggle %}
                    <div class="products-ui__mobile-toolbar">
                    <div class="products-ui__mobile-toolbar-col products-ui__mobile-toolbar-col--sidebar-toggle">
                        <button type="button" class="products-ui__sidebar-toggle button js-side-panel-open">
                            <i class="icon" aria-hidden="true">{% include "/cart/svg/icon--filter.svg" %}</i>
                            <span class="button-label">Show filters</span>
                        </button>
                    </div>
                    <div class="products-ui__mobile-toolbar-col products-ui__mobile-toolbar-col--sorting-toggle">
                        <button type="button" class="products-ui__sidebar-toggle button js-sorting-toggle">
                            <span class="button-label">Sort by</span>
                            <i class="icon" aria-hidden="true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="5" fill="currentColor" viewBox="0 0 8 5">
                                    <path d="M0 0v.469l3.589 4.137h.822L8 .469V0h-.743L3.99 3.234h-.023L.73 0H0z"/>
                                </svg>
                            </i>
                        </button>
                        <select class="js-sort">
                            {% set sorts = {
                                'most-popular': 'Most popular',
                                'price-high-to-low': 'Price high to low',
                                'price-low-to-high': 'Price low to high',
                                'newest': 'Newest',
                                'oldest': 'Oldest'
                            } %}
                            {% for idx, itm in sorts %}
                                <option {% if sortby == idx %}selected{% endif %} value="{{ idx }}">{{ itm }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% endblock %} #}



{% endblock %}
