{% extends 'base.twig' %}
{% block bodyClasses %}template--product-detail section--products{% endblock %}

{% block preload %}
    <link href="{{ preload(asset('css/styles.css') ~ '?v=' ~ timeStamp, { as: 'style' }) }}" as="style" rel="preload">
    <link rel="preload" href="{{ preload(asset('build/runtime.js')) }}?v={{ timeStamp }}" as="script">
    <link rel="preload" href="{{ preload(asset('build/product.js')) }}?v={{ timeStamp }}" as="script">
{% endblock %}

{% block js %}
    <script src="{{ asset('build/runtime.js') }}?v={{ timeStamp }}" defer></script>
    <script src="{{ asset('build/product.js') }}?v={{ timeStamp }}" defer></script>
{% endblock %}

{% set gallery = orm.objGallery %}
{% set variants = orm.objVariants %}
{% set relatedProducts = orm.objRelatedProducts %}
{% set category = orm.objCategory %}

{% block title %}
    <title>{{ orm.title }} by {{ orm.objBrand.title }} - {{ siteTitle }}</title>
{% endblock title %}

{% block main %}

    <section class="section--product-detail section-inner section-inner--pt">
        <div class="mx-auto mw-1400 grid gutter-x">
                    
            {#---------------------------------------------------------------------------------------
                /Product media
            ----------------------------------------------------------------------------------------#}
            <div class="product-media grid-col l-6 {% if gallery|length > 1 %}has-gallery{% endif %}">
                <div class="product-gallery">

                    {% for itm in gallery %}
                        <img src="/images/assets/{{ itm.id }}/large" alt="{{ orm.title }} image {{ loop.index }}">
                    {% endfor %}



                    {% if gallery|length > 1 %}
                        {% for itm in gallery %}
                            <div id="img--{{ loop.index }}" class="mb-2">
                                <img data-src="/images/assets/{{ itm.id }}/large" alt="{{ orm.title }} image {{ loop.index }}" class="lazy">
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>


            <div class="product-detail grid-col l-start-8 l-end-13">

                <div class="l-sticky">
                    <header class="product-detail__header">
                        <h1 class="heading--page heading--page--small">{{ orm.title }}</h1>
                        {% if orm.objBrand %}
                            <h2 class="heading--eyebrow">By {{ orm.objBrand.title }}</h2>
                        {% endif %}
                    </header>

                    {% if orm.objOnSaleActive %}
                       <div class="product-detail__sale heading--eyebrow">On sale</div>
                    {% endif %}

                    {% if orm.description %}
                        <div class="wysiwyg mt-4">{{ orm.description|raw }}</div>
                    {% endif %}


                    <div class="mt-4 js-product-price">
                        {% include 'cart/includes/product-price.twig' with {
                            product: orm,
                            variant: orm.objVariant,
                        } %}
                    </div>


    
                    <div class="mt-4 js-product-cart-wrapper">
                        
                        <div>
                            <label for="size">Size:</label>
                            <div class="select">
                                <select id="size" class="js-variant">
                                    {% for itm in variants %}
                                        {% if itm.objOutOfStock %}
                                            <option value="{{ itm.id }}" data-uniqid="{{ itm.uniqid }}" disabled>{{ itm.title }} (Out of stock)</option>
                                        {% else %}
                                            <option value="{{ itm.id }}" data-uniqid="{{ itm.uniqid }}">{{ itm.title }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="mt-2">
                            <label for="qty">Quantity:</label>
                            <input id="qty" class="input--txt js-qty" type="text" value="1">
                        </div>

                        <button class="mt-2 button button--primary js-add-to-cart" data-id="{{ orm.id }}">Add to cart</button>

                    </div>
                </div>

            </div>

        </div>
    </section>

    <hr />

    {#---------------------------------------------------------------------------------------
        /Related products
    ----------------------------------------------------------------------------------------#}
    {% if relatedProducts|length %}
        <section class="section--related-products section-inner section-inner--pb">
            <div class="mx-auto mw-1400">
                    
                <header class="headings--section flex items-baseline justify-between">
                    <h2 class="heading--section">Related products</h2>
                    <a href="{{ getenv('SHOP_URL') }}{% if category %}?category={{ category.slug }}{% endif %}" class="link">
                        More related products
                    </a>
                </header>

                <ul class="grid gutter-x list-reset">
                    {% for itm in relatedProducts %}
                        {% include '/cart/includes/card-product.twig' with { product: itm } %}
                    {% endfor %}
                </ul>

            </div>
        </section>
    {% endif %}


{% endblock %}