<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="author" content="Gravitate - www.gravitate.co.nz">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE"/>
    <meta http-equiv="EXPIRES" content="Mon, 22 Jul 2002 11:12:01 GMT"/>
    <meta http-equiv="PRAGMA" content="NO-CACHE"/>
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW"/>

    <title>CMS</title>

    <link href="/cms/css/styles.css?v=20180702" rel="stylesheet" type="text/css"/>
    <link href="/cms/css/dropzone.css" rel="stylesheet" type="text/css"/>
    <link href="/cms/css/jquery.Jcrop.css" rel="stylesheet" type="text/css"/>
    <link href="/cms/css/originate.form.builder.css" rel="stylesheet" type="text/css" media="screen"/>

    {#<script src="/cms/js/handlebars-v1.3.0.js" language="javascript"></script>#}
    {#<script src="/cms/js/redactor.js?v=5" language="javascript"></script>#}
    {#<script src="/cms/js/imageedit.redactor.js" language="javascript"></script>#}
    {#<script src="/cms/js/filepicker.redactor.js" language="javascript"></script>#}
    {#<script src="/cms/js/insertfile.redactor.js?v=1" language="javascript"></script>#}
    {#<script src="/cms/js/originate.js?v=1" language="javascript"></script>#}
    {#<script src="/cms/js/jquery.Jcrop.js" language="javascript"></script>#}
    {#<script src="/cms/js/cms.js" language="javascript"></script>#}
    {#<script src="/cms/js/mkvp.js" language="javascript"></script>#}
    {#<script src="/cms/js/mkvvp.js" language="javascript"></script>#}
    {#<script src="/cms/js/jquery.datetimepicker.full.js"></script>#}
    {#<script src="/cms/js/jquery.json-2.4.min.js" language="javascript"></script>#}
    {#<script src="/cms/js/originate.form.builder.js?20180622" language="javascript"></script>#}
    {#<script src="/cms/js/dropzone.js" language="javascript"></script>#}

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" type="text/css" media="screen"/>

    <style>
        #headContainer {
            padding-left: 20em;
        }
        .logo {
            background: url("/cms/images/logo{{ random(1, 3) }}.jpg") no-repeat scroll center center #fff;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .toggle-icon {
            background: url("/cms/images/icon-nestable-active.png") no-repeat scroll center center #fff;
            width: 20px;
            height: 25px;
            position: absolute;
            right: 1em;
        }
        .toggle-icon:focus,.toggle-icon:hover {
            background-repeat: no-repeat;
            background-color: #fff;
        }
        .toggle-icon.selected {
            background: url("/cms/images/icon-nestable.png") no-repeat scroll center center #fff;
        }
        .subcategory {
            display: none;
        }
        .active {
            display: block;
        }
        .selected a {
            color: white;
            background: #98a6ba;
        }
        .selected a:hover {
            color: #2281CF;
        }
        .selected-subitm a {
            background: dodgerblue !important;
        }
        .model-pagination-detail {
            padding: 5px 0;
            text-align: center;
            background: #eee;
            margin-bottom: 10px;
            border: 1px solid #ddd;
        }
        .model-pagination-detail .formStyle {
            text-align: left;
            width: 30%;
        }
        .model-data-group {
            padding: 5px 0;
            text-align: center;
            background: #eee;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            width: 47.7%;
        }
        .model-data-group .formStyle {
            text-align: left;
            width: 90%;
        }
        .columns-container {
            margin-top: 10px;
            border-top: 1px solid #ddd;
            padding-top: 20px;
        }
        input[type=email] {
            border: medium none;
            border: 1px solid #ddd;
            border-radius: 3px;
            color: #666;
            padding: .6em 1em;
            width: 100%;
            background: #fcfcfc;
            background: #fff;
            font-family: 'Titillium Web', 'Helvetica Neue', Arial, sans-serif;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05) inset;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05) inset;
            -webkit-transition: all .2s ease;
            transition: all .2s ease
        }
        .ui-button-icon-only {
            text-indent: -9999px;
        }
    </style>
</head>


<body {% block extraBody %}{% endblock %}>
<!--[if lt IE 10]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->

<div class="header" id="headContainer">
    <div id="head">
        <a class="logo" href="/" target="_blank" title="View my site &rsaquo;"></a>
    </div>
</div>


<div id="menuContainer">
    <div id="menuTop">
        <ul class="menuTop">
            <li><a href="./index.php?viewModeSent=0&amp;fileNo=13">Home</a></li>
            <li><a href="./index.php?viewModeSent=0&amp;fileNo=17">Contact</a></li>
            <li><a href="./index.php?viewModeSent=0&amp;fileNo=14">Change Password</a></li>
            <li><a href="./index.php?viewModeSent=0&amp;fileNo=18">Help</a></li>
            <li><a href="./cmsLogout.php">Logout</a></li>
        </ul>

        <ul id="viewModes" class="icon">
            {% for itm in root.children %}
                <li id="{{ itm.icon }}" {% if itm.contains(node) %}class="selected"{% endif %}>
                    <a href="{{ itm.url }}"> <span>{{ itm.title }}</span> </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div id="contentContainer">
    <div id="maincontent">
        <div id="verticalMenu">
            <div id="cms_sidebarIndex">
                <ul class="verticalMenu">
                    {% for itm in node.topAncestor(root).children %}
                        {% if itm.url %}
                            <li {% if itm.contains(node) %}class="selected"{% endif %}>
                                <div>
                                    <a href="{{ itm.url }}">
                                        {{ itm.title }}
                                        {% if itm.hasActiveChildren() %}
                                            <button data-target="{{ itm.id }}" class="toggle-icon {% if itm.contains(node) %}selected{% endif %}">&nbsp;</button>
                                        {% endif %}
                                    </a>
                                    {% if itm.hasActiveChildren() %}
                                        <ul data-source="{{ itm.id }}" class="subcategory sub-1" {% if itm.contains(node) %}style="display: block;"{% endif %}>
                                            {% for subitm in itm.children if subitm.status == 1 %}
                                                 <li {% if subitm.contains(node) %}class="selected-subitm"{% endif %}>
                                                    <div>
                                                        <a href="{{ subitm.url }}">{{ subitm.title }}</a>
                                                        <div class="clear"></div>
                                                    </div>
                                                 </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    <div class="clear"></div>
                                </div>
                            </li>
                        {% else %}
                            {% if loop.index > 1 %}
                                </ul>
                                <ul class="verticalMenu">
                            {% endif %}
                            <li class="menuHeading">{{ itm.title }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div id="bodyContent">
            {% block container %}
                <div id="h1">
                    <h1>Millennium Falcon CMS</h1>
                </div>
                <p>The Millennium Falcon CMS allows you to update content on your website.</p>
                <p>Use the menu to the left to navigate to the correct page or record. Where appropriate, navigation links to sub-pages will open out when you click on a menu item.</p>
            {% endblock %}
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"></script>

{#<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.7/jquery.timepicker.min.js" language="javascript"></script>#}

<script src="/cms/js/main.js"></script>

{% block externalFooter %}{% endblock %}
</body>
</html>
