{% block content_block_row %}
    {% apply spaceless %}
        <div class="formStyle {{ block_prefixes[block_prefixes|length - 2] }} type34">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endapply %}
{% endblock %}

{% block content_block_label %}
{% endblock content_block_label %}

{% block content_block_widget %}
    {% set fragments = app.request.requestUri|trim('/')|split('/') %}
    {% if '/version' in app.request.pathInfo %}
        {% set ormModel = model.byField('_Model', 'className', fragments[fragments|length - 4]) %}
    {% elseif '/copy' in app.request.pathInfo %}
        {% set ormModel = model.byField('_Model', 'className', fragments[fragments|length - 3]) %}
    {% else %}
        {% set ormModel = model.byField('_Model', 'className', fragments[fragments|length - 2]) %}
    {% endif %}

    <div id="{{ id }}_wrap" class="js-fragment-container cms_from_various_snippets_container" data-id="{{ id }}">
        <div id="{{ id }}_container"></div>
        {#<button id="{{ id }}-add-section" type="button" class="btn">Add Section</button>#}
        <a id="{{ id }}-add-section" class="button-normal"><i class="fa fa-plus"></i> Section</a>
        {#<hr/>#}
        <div id="{{ id }}-modal-section" class="modal fade" aria-hidden="true" role="dialog" tabindex="-1"></div>
        <div id="{{ id }}-modal-block" class="modal fade" aria-hidden="true" role="dialog" tabindex="-1"></div>

        <textarea {{ block('widget_attributes') }} style="display: none;">{{ value ?: '[]' }}</textarea>
        <textarea class="js-blocks" style="display: none;">{{ utils.blockDropdownOptions|json_encode }}</textarea>
        <textarea class="js-tags" style="display: none;">{{ model.active('FragmentTag')|json_encode }}</textarea>
        <textarea class="js-default" style="display: none;">{{ model.active('FragmentDefault',{whereSql:'m.title = ? AND attr = ?',params:[ormModel.className, id|replace({'orm_': ''})],oneOrNull:1,orm:0})|json_encode }}</textarea>


    </div>
{% endblock content_block_widget %}
