{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
    {% spaceless %}
        <div class="formStyle {{ block_prefixes[block_prefixes|length - 2] }}">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block content_block_row %}
    {% spaceless %}
        <div class="formStyle {{ block_prefixes[block_prefixes|length - 2] }} type34">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock content_block_row %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            <div class="error">{{ error.message }}</div>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}

{% block spliter_row -%}
    <hr />
{%- endblock spliter_row %}

{% block label_widget -%}
    <div>{{ value }}</div>
{%- endblock label_widget %}

{% block datepicker_widget -%}
    <input type="text" {{ block('widget_attributes') }} value="{{ value ? value|date('Y-m-d') : '' }}"/>
{%- endblock datepicker_widget %}

{% block datetimepicker_widget -%}
    <input type="text" {{ block('widget_attributes') }} value="{{ value ? value|date('Y-m-d H:i:s') : '' }}"/>
{%- endblock datetimepicker_widget %}

{% block choice_multi_json_widget -%}
    <input type="hidden" {{ block('widget_attributes') }} value="{{ value }}"/>
    <select id="{{ id }}_select" class="js-choice_multi_json" multiple>
        {% for choice in choices %}
            <option value="{{ choice.value }}" {% if '"' ~ choice.value ~ '"' in value %}selected{% endif %}>{{ choice.label }}</option>
        {% endfor %}
    </select>
{%- endblock choice_multi_json_widget %}

{% block choice_multi_json_tree_widget -%}
    <input type="hidden" {{ block('widget_attributes') }} value="{{ value }}"/>
    <select id="{{ id }}_select" class="js-choice_multi_json" multiple>
        {% for choice in choices %}
            {% set vals = choice.label|split('@') %}
            <option style="padding-left: {{ vals.1 * 20 }}px" value="{{ choice.value }}" {% if '"' ~ choice.value ~ '"' in value %}selected{% endif %}>{{ vals.0 }}</option>
        {% endfor %}
    </select>
{%- endblock choice_multi_json_tree_widget %}

{% block choice_tree_widget -%}
    <select {{ block('widget_attributes') }} class="js-choice_multi_json">
        {% for choice in choices %}
            {% set vals = choice.label|split('@') %}
            <option style="padding-left: {{ vals.1 * 20 }}px" value="{{ choice.value }}" {% if choice.value == value %}selected{% endif %}>{{ vals.0 }}</option>
        {% endfor %}
    </select>
{%- endblock choice_tree_widget %}

{% block wysiwyg_widget -%}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock wysiwyg_widget -%}

{% block assetpicker_widget -%}
    {% set orm = model.getById('Asset', value) %}
    <div class="filePickWrap js-filePickWrap js-orm-info" data-id="{{ value }}">
        <input type="hidden" {{ block('widget_attributes') }} class="js-fileId">
        <div class="filePickPreviewWrap">
            <img src="/cms/images/file-loading.gif" class="js-filePickFile filePickFile">
            <a class="js-asset-delete" style="display: none"><img src="/cms/images/binIcon.gif"></a>
        </div>
        <a class="filePickButton js-asset-change" style="display: none">Pick file ›</a>
        <a class="cropImagePickButton js-cropping-options" style="display: none;">Crop ›</a>
    </div>
{%- endblock assetpicker_widget -%}

{% block assetfolderpicker_row -%}
    <hr />
    {% spaceless %}
        <div class="box {{ block_prefixes[block_prefixes|length - 2] }}">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
    {#<hr />#}
{%- endblock assetfolderpicker_row -%}

{%- block assetfolderpicker_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}  style="display: inline-block;">
        {%- if translation_domain is same as(false) -%}
            {{- label -}}
        {%- else -%}
            {{- label|trans({}, translation_domain) -}}
        {%- endif -%}
        </{{ element|default('label') }}>

        <div style="display: inline-block; margin-left: 10px;">
            <a class="button-galery change" data-id="#{{ id }}"><i class="fas fa-images"></i> Manage</a>
            <a class="button-galery delete" data-id="#{{ id }}"><i class="far fa-trash-alt"></i> Empty</a>
        </div>
    {%- endif -%}
{%- endblock assetfolderpicker_label -%}

{% block assetfolderpicker_widget -%}
    <div class="widget style1 js-gallery-widget ibox" style="padding: 0; margin: 0;">
        <input type="hidden" {{ block('widget_attributes') }} value="{{ value }}" data-attributename="{{ id }}"/>
        <div class="ibox-content" style="border: none">
            <div class="sk-spinner sk-spinner-double-bounce">
                <div class="sk-double-bounce1"></div>
                <div class="sk-double-bounce2"></div>
            </div>
            <div class="alert alert-info js-loading" style="display: none;">
                Loading images, please wait...
            </div>
            <div class="alert gray-bg js-no-results" style="display: none;">
                No images selected
            </div>
            <div id="fileModuleBrowser" class="gallery-widget">
                <ul id="filesImageList" class="contentListTable assets-images ui-sortable js-gallery-container">
                </ul>
            </div>
        </div>
    </div>
{%- endblock assetfolderpicker_widget -%}

{% block _orm_file_widget -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} onchange="handleFiles(this.files);" />
{%- endblock _orm_file_widget -%}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div>
                {{- form_widget(child) -}}
                {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
            </div>
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{% use 'cms/form-content-block.twig' %}
