{% extends 'cms/orms-pagination.html.twig' %}
{% from "cms/includes/nestable.twig" import nest as nest %}

{% block container %}
    <div id="h1">
        <h1>Webpage Builder</h1>
        <a class="addForm button" href="{{ node.url }}/new?returnUrl={{ app.request.uri|url_encode }}">Add new record ›</a>
    </div>

    <div class="page-category">
        {% for itm in categories %}
            <input data-id="{{ itm.id }}" id="itm{{ itm.id }}" type="radio" name="category" {{ itm.id == category ? 'checked="checked"' : '' }} />
            <label data-id="{{ itm.id }}" for="itm{{ itm.id }}">
                <div class="dd other content-{{ itm.id }}" data-id="{{ itm.id }}" >
                    <div class="dd-empty"></div>
                </div>
                <div class="item-title">{{ itm.title }} <span class="number"></span></div>
            </label>
        {% endfor %}

        <input data-id="0"  id="itm0" type="radio" name="category" {{ 0 == category ? 'checked="checked"' : '' }} />
        <label data-id="0" for="itm0">
            <div class="other dd content--1" data-id="0" >
                <div class="dd-empty"></div>
            </div>
            <div class="item-title">Uncategorised <span class="number"></span></div>
        </label>
    </div>

    <div class="nestable-lists">
        <div class="dd" id="nestable">
            <ol class="dd-list">
                {% for itm in pageRoot.children %}
                    {{ nest(itm, model, 1) }}
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}