{% extends 'cms/cart/email/email-base.twig' %}

{% block content %}
    <p>
        Dear {{ customer.firstName }}, <br /><br />

        Please use the following link to reset your password. If the below link is not clickable, try copying and pasting it into the address bar of your web browser.<br />

        <p style="text-align: center;">
            <a href="{{ app.request.scheme }}://{{ app.request.host }}/reset/{{ customer.resetToken }}">{{ app.request.scheme }}://{{ app.request.host }}/reset/{{ customer.resetToken }}</a>
        </p>
    </p>
{% endblock %}