{% extends 'cms/cart/email/email-base.twig' %}

{% block content %}
    <p>
        Hey {{ orderContainer.billingFirstname }}, <br /><br />
        Thanks for your purchase and here is your receipt:
    </p>
    <table class="table">
        <tr>
            <td style="padding-left: 20px; vertical-align: top;">
                <h3>Billing address</h3>
                {% if orderContainer.email %}
                    <div><strong>Email:</strong></div>
                    {{ orderContainer.email }}
                {% endif %}

                {% if orderContainer.billingFirstname %}
                    <div class="pt-2"><strong>First name:</strong></div>
                    {{ orderContainer.billingFirstname }}
                {% endif %}

                {% if orderContainer.billingFirstname %}
                    <div class="pt-2"><strong>Last name:</strong></div>
                    {{ orderContainer.billingLastname }}
                {% endif %}

                {% if orderContainer.billingPhone %}
                    <div class="pt-2"><strong>Phone:</strong></div>
                    {{ orderContainer.billingPhone }}
                {% endif %}

                {% if orderContainer.billingAddress %}
                    <div class="pt-2"><strong>Address:</strong></div>
                    {{ orderContainer.billingAddress }}
                {% endif %}

                {% if orderContainer.billingAddress2 %}
                    <div class="pt-2"><strong>Address2:</strong></div>
                    {{ orderContainer.billingAddress2 }}
                {% endif %}

                {% if orderContainer.billingCity %}
                    <div class="pt-2"><strong>City:</strong></div>
                    {{ orderContainer.billingCity }}
                {% endif %}

                {% if orderContainer.billingPostcode %}
                    <div class="pt-2"><strong>Postcode:</strong></div>
                    {{ orderContainer.billingPostcode }}
                {% endif %}

                {% if orderContainer.billingState %}
                    <div class="pt-2"><strong>State:</strong></div>
                    {{ orderContainer.billingState }}
                {% endif %}

                {% if orderContainer.billingCountry %}
                    <div class="pt-2"><strong>Country:</strong></div>
                    {{ orderContainer.billingCountry }}
                {% endif %}

                {% if orderContainer.note %}
                    <div class="pt-2"><strong>Note:</strong></div>
                    {{ orderContainer.note|nl2br }}
                {% endif %}
            </td>
            <td style="padding-right: 20px; vertical-align: top;">
                <h3>Shipping address</h3>
                {% if orderContainer.billingSame %}
                    <div class="form-check">
                        <label>Same as Billing Address</label>
                    </div>
                {% else %}
                    {% if orderContainer.shippingFirstname %}
                        <div><strong>First name:</strong></div>
                        {{ orderContainer.shippingFirstname }}
                    {% endif %}

                    {% if orderContainer.shippingFirstname %}
                        <div class="pt-2"><strong>Last name:</strong></div>
                        {{ orderContainer.shippingLastname }}
                    {% endif %}

                    {% if orderContainer.shippingPhone %}
                        <div class="pt-2"><strong>Phone:</strong></div>
                        {{ orderContainer.shippingPhone }}
                    {% endif %}

                    {% if orderContainer.shippingAddress %}
                        <div class="pt-2"><strong>Address:</strong></div>
                        {{ orderContainer.shippingAddress }}
                    {% endif %}

                    {% if orderContainer.shippingAddress2 %}
                        <div class="pt-2"><strong>Address2:</strong></div>
                        {{ orderContainer.shippingAddress2 }}
                    {% endif %}

                    {% if orderContainer.shippingCity %}
                        <div class="pt-2"><strong>City:</strong></div>
                        {{ orderContainer.shippingCity }}
                    {% endif %}

                    {% if orderContainer.shippingPostcode %}
                        <div class="pt-2"><strong>Postcode:</strong></div>
                        {{ orderContainer.shippingPostcode }}
                    {% endif %}

                    {% if orderContainer.shippingState %}
                        <div class="pt-2"><strong>State:</strong></div>
                        {{ orderContainer.shippingState }}
                    {% endif %}

                    {% if orderContainer.shippingCountry %}
                        <div class="pt-2"><strong>Country:</strong></div>
                        {{ orderContainer.shippingCountry }}
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="pt-10">
                <table class="table table-products">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th style="width: 8em;" class="text-right">Price</th>
                            <th style="width: 4em;" class="text-right">Qty</th>
                            <th style="width: 8em;" class="text-right">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for itm in orderContainer.objOrderItems %}
                            {% set variant = itm.objProductVariant %}
                            {% set product = variant ? variant.objProduct : null %}
                            <tr>
                                <td>
                                    <p>{{ itm.title }}</p>
                                    <small>{{ itm.sku }}</small>
                                </td>
                                <td class="text-right">
                                    {% if product and product.onSaleActive %}
                                        <del><small>${{ itm.compareAtPrice|number_format(2, '.', ',') }}</small></del>
                                        <small>$</small>
                                        {{ itm.price|number_format(2, '.', ',') }}
                                    {% else %}
                                        <small>$</small>
                                        {{ itm.price|number_format(2, '.', ',') }}
                                    {% endif %}
                                </td>
                                <td class="text-right">{{ itm.quantity }}</td>
                                <td class="text-right">
                                    {{ itm.totalPrice|number_format(2, '.', ',') }}
                                </td>
                            </tr>
                        {% endfor %}

                        {% if orderContainer.discount > 0 %}
                            <tr>
                                <td></td>
                                <td colspan="2"class="text-right font-weight-bold">Subtotal:</td>
                                <td class="text-right font-weight-bold">
                                    ${{ orderContainer.subtotal|number_format(2, '.', ',') }}
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top: none"></td>
                                <td colspan="2" class="text-right font-weight-bold">
                                    Discount:
                                </td>
                                <td class="text-right font-weight-bold">
                                    -${{ orderContainer.discount|number_format(2, '.', ',') }}
                                    <div><small>(Promo code: {{ orderContainer.promoCode }})</small></div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top: none"></td>
                                <td colspan="2"class="text-right font-weight-bold">After discount:</td>
                                <td class="text-right font-weight-bold">
                                    ${{ orderContainer.afterDiscount|number_format(2, '.', ',') }}
                                    <div>
                                        <small>
                                            (Incl.GST ${{ orderContainer.tax|number_format(2, '.', ',') }})
                                        </small>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td></td>
                                <td colspan="2"class="text-right font-weight-bold">Subtotal:</td>
                                <td class="text-right font-weight-bold">
                                    ${{ orderContainer.subtotal|number_format(2, '.', ',') }}
                                    <div>
                                        <small>
                                            (Incl. GST ${{ orderContainer.tax|number_format(2, '.', ',') }})
                                        </small>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td style="border-top: none"></td>
                            <td colspan="2" class="text-right font-weight-bold">Shipping:</td>
                            <td class="text-right font-weight-bold">
                                <small>$</small>
                                {{ orderContainer.shippingCost|number_format(2, '.', ',') }}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none"></td>
                            <td colspan="2" class="text-right font-weight-bold">Total:</td>
                            <td class="text-right font-weight-bold">{{ getenv('CURRENCY_COUNTRY') }}${{ orderContainer.total|number_format(2, '.', ',') }}</td>
                        </tr>
                        <tr>
                            <td style="border-top: none"></td>
                            <td colspan="3" class="text-right font-weight-bold">
                                <small>{{ orderContainer.shippingTitle }}</small>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}

