<table class="table table-bordered">
    <tbody>
    {% if myOrderContainer.discount %}
        <tr>
            <td class="text-right"><strong>Subtotal</strong></td>
            <td class="text-right">
                ${{ myOrderContainer.subtotal|number_format(2, '.', ',') }}
            </td>
        </tr>
        <tr>
            <td class="text-right">
                <strong>Discount</strong>
            </td>
            <td class="text-right">
                -${{ myOrderContainer.discount|number_format(2, '.', ',') }}
                <div><small>(Promo code: {{ myOrderContainer.promoCode }})</small></div>

            </td>
        </tr>
        <tr>
            <td class="text-right"><strong>After discount</strong></td>
            <td class="text-right">
                ${{ myOrderContainer.afterDiscount|number_format(2, '.', ',') }}
                <div>
                    <small>
                        (Incl. GST ${{ myOrderContainer.tax|number_format(2, '.', ',') }})
                    </small>
                </div>
            </td>
        </tr>
    {% else %}
        <tr>
            <td class="text-right"><strong>Subtotal</strong></td>
            <td class="text-right">
                ${{ myOrderContainer.subtotal|number_format(2, '.', ',') }}
                <div>
                    <small>
                        (Incl. GST ${{ myOrderContainer.tax|number_format(2, '.', ',') }})
                    </small>
                </div>
            </td>
        </tr>
    {% endif %}
    <tr>
        <td class="text-right"><strong>Delivery fee</strong></td>
        <td class="text-right">${{ myOrderContainer.shippingCost|number_format(2, '.', ',') }}</td>
    </tr>
    <tr>
        <td class="text-right"><strong>Total</strong></td>
        <td class="text-right">{{ getenv('CURRENCY_COUNTRY') }}${{ myOrderContainer.total|number_format(2, '.', ',') }}</td>
    </tr>
    </tbody>
</table> 
