{% verbatim %}
    <li class="tableContent" >
        <div class="asset-img">
            <img src="/Images/Assets/{{ documentCode }}/5/" alt="Test" border="0" class="mceImage"><br>
        </div>
        <div class="details">
            <div>
                {{#if active }}
                    <a href="#" class="approve" rel="on" id="approve_{{ documentCode }}"><img src="/cms/images/dotGreen.gif" title="approve content" alt="approve content" border="0"></a>
                {{ else }}
                    <a href="#" class="approve" rel="off" id="approve_{{ documentCode }}"><img src="/cms/images/dotRed.gif" title="approve content" alt="approve content" border="0"></a>
                {{/if}}
                <br>
                <a href="/cms/html/index.php?fileNo=169&amp;formid=220&amp;parent={{ parent }}&amp;documentCode={{ documentCode }}" title="{{ name }}">{{ name }}</a>
            </div>
            <div>
                {{ rank }}
            </div>
        </div>
    </li>
{% endverbatim %}


{#<div class="file-box {#}{#compare 1 file._selected operator="=="}}active{{/compare}}" data-id="{{file.id}}" data-title="{{file.title}}" id="{{file.id}}">#}
{#<button type="button" class="pz-file-delete btn btn-danger btn-circle js-file-delete"><i class="fa fa-times"></i></button>#}
{#<div class="file ui-state-default">#}
    {#<a href="/assets/download/{{file.id}}">#}
        {#<span class="corner"></span>#}
        {#<div class="icon">#}
            {#<img src="/assets/image/{{file.id}}/small" />#}
        {#</div>#}
        {#<div class="file-name">#}
            {#{{file.title}}#}
            {#<br/>#}
            {#<small>{{file.added}}</small>#}
        {#</div>#}
    {#</a>#}
    {#{#}{#compare 1 mode operator="=="}}#}
    {#<div class="select-area">#}
        {#<a href="#" class="selected js-select {#}{#compare 1 file._selected operator="=="}}active{{/compare}}">#}
        {#{#}{#compare 1 file._selected operator="=="}}<i class="fa fa-toggle-on fa-2x"></i>{{/compare}}#}
        {#{#}{#compare 1 file._selected operator="!="}}<i class="fa fa-toggle-off fa-2x"></i>{{/compare}}#}
        {#</a>#}
    {#</div>#}
    {#{{/compare}}#}
{#</div>#}
{#</div>#}