{% verbatim %}
    <div id="h1">
        <h1>
            {{#compare '' keyword operator="=="}}
                <ol class="breadcrumb pull-left">
                    {{#each path}}
                        {{#compare id ../currentFolder.id operator="!="}}
                            <li>
                                <a href="#" data-id="{{id}}" title="{{title}}">{{title}}</a>
                            </li>
                        {{/compare}}
                        {{#compare id ../currentFolder.id operator="=="}}
                            <li class="active">
                                <strong title="{{title}}">{{title}}</strong>
                            </li>
                        {{/compare}}
                    {{/each}}
                </ol>
            {{/compare}}

            {{#compare '' keyword operator="!="}}
                <div>Search results for <span class="label label-warning pz-label">{{keyword}}</span></div>
            {{/compare}}
        </h1>
        <div class="addForm">
            {{#compare '' keyword operator="=="}}
                <button class="btn btn-xs btn-circle btn-primary btn-outline" onclick="$('#fileupload').click();">
                    Upload
                </button>
            {{/compare}}

            {{#compare '' keyword operator="=="}}
                {{#ifMoreThan1 path}}
                    <button class="btn btn-xs btn-circle btn-warning" data-toggle="modal" data-target="#js-edit-dialog">
                       Edit
                    </button>
                {{/ifMoreThan1}}
            {{/compare}}

            {{#compare '' keyword operator="=="}}
                <button class="btn btn-xs btn-circle btn-info" data-toggle="modal" data-target="#js-add-dialog">
                    Add
                </button>
            {{/compare}}

            {{#compare '' keyword operator="=="}}
                {{#ifMoreThan1 path}}
                    <button class="btn btn-xs btn-circle btn-danger btn-outline js-folder-delete" data-id="{{currentFolder.id}}" data-parent="{{currentFolder.parentId}}">
                        Delete
                    </button>
                {{/ifMoreThan1}}
            {{/compare}}
        </div>
    </div>
    <div class="clearfix"></div>
    <input id="fileupload" type="file" name="files[]" multiple style="display: none;">
    <div class="progress progress-striped" style="display: none;">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>
{% endverbatim %}

{#<div id="js-add-dialog" class="modal fade" aria-hidden="true" role="dialog" tabindex="-1" >#}
    {#<div class="modal-dialog modal-sm">#}
        {#<div class="modal-content animated flipInUp">#}
            {#<form method="POST" autocomplete="off" novalidate>#}
                {#<div class="modal-body">#}
                    {#<div class="form-group">#}
                        {#<label>Add a new folder:</label>#}
                        {#<input type="text" name="name" placeholder="Enter a new name" class="form-control">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="modal-footer">#}
                    {#<button type="button" class="btn btn-sm pull-right m-t-n-xs" data-dismiss="modal"><strong>Close</strong></button>#}
                    {#<button type="submit" class="btn btn-sm btn-primary pull-right m-t-n-xs"><strong>Add</strong></button>#}
                {#</div>#}
            {#</form>#}
        {#</div>#}
    {#</div>#}
{#</div>#}
{#<div id="js-edit-dialog" class="modal fade" aria-hidden="true" role="dialog" tabindex="-1" >#}
    {#<div class="modal-dialog modal-sm">#}
        {#<div class="modal-content animated flipInUp">#}
            {#<form method="POST" autocomplete="off" novalidate>#}
                {#<div class="modal-body">#}
                    {#<div class="form-group">#}
                        {#<label>Change name:</label>#}
                        {#<input type="text" name="name" value="{{currentFolder.title}}" placeholder="" class="form-control">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="modal-footer">#}
                    {#<button type="button" class="btn btn-sm pull-right m-t-n-xs" data-dismiss="modal"><strong>Close</strong></button>#}
                    {#<button type="submit" class="btn btn-sm btn-primary pull-right m-t-n-xs"><strong>Update</strong></button>#}
                {#</div>#}
            {#</form>#}
        {#</div>#}
    {#</div>#}
{#</div>#}