{% verbatim %}
    <div id="h1">
        <h1>
            {{#compare '' keyword operator="=="}}
                <ol class="breadcrumb pull-left">
                    {{#each path}}
                        {{#compare id ../currentFolder.id operator="!="}}
                            <li>
                                <a href="#" data-id="{{id}}" title="{{title}}">{{title}}</a>
                            </li>
                        {{/compare}}
                        {{#compare id ../currentFolder.id operator="=="}}
                            <li class="active">
                                <strong title="{{title}}">{{title}}</strong>
                            </li>
                        {{/compare}}
                    {{/each}}
                </ol>
            {{/compare}}

            {{#compare '' keyword operator="!="}}
                <div>Search results for <span class="label label-warning pz-label">{{keyword}}</span></div>
            {{/compare}}
        </h1>
        <div class="addForm js-orm-info" id="{{currentFolder.id}}" data-class="Asset" data-id="{{currentFolder.id}}" data-title="{{currentFolder.title}}" data-callback="callbackAfterDeleteFolder" data-parent="{{currentFolder.parentId}}">
            {{#compare '' keyword operator="=="}}
                {{#ifMoreThan1 path}}
                    <button class="js-change-folder-name">
                       Change Folder Name
                    </button>
                {{/ifMoreThan1}}
            {{/compare}}

            {{#compare '' keyword operator="=="}}
                <button class="js-add-subfolder">
                    Add Subfolder
                </button>
            {{/compare}}

            {{#compare '' keyword operator="=="}}
                {{#ifMoreThan1 path}}
                    <button class="js-orm-delete" data-id="{{currentFolder.id}}" data-parent="{{currentFolder.parentId}}">
                        Delete Folder
                    </button>
                {{/ifMoreThan1}}
            {{/compare}}
        </div>
    </div>
    <div class="clearfix"></div>

    <div id="js-add-subfolder-dialog" style="display: none">
        <label>Add a new folder:</label>
        <input type="text" name="name" placeholder="Enter a new name" class="form-control">
    </div>

     <div id="js-change-folder-name-dialog" style="display: none">
        <label>Change folder name:</label>
        <input type="text" name="name" placeholder="Enter a new name" class="form-control">
    </div>
{% endverbatim %}

