{% verbatim %}
    <tbody class="js-model-fields">
        <tr class="column">
            <td>
                <select class="wgt form-control">
                    {{# each widgets }}
                    <option {{#compare this ../itm.widget operator="=="}}selected{{/compare}} value="{{this}}">{{ @key }}</option>
                    {{/each}}
                </select>
            </td>
            <td><input class="lbl form-control" type="text" value="{{ itm.label }}"/></td>
            <td><input class="fld form-control" type="text" value="{{ itm.field }}"/></td>
            <td class="column">
                {{ itm.column }}
                <input class="id" type="hidden" value="{{ itm.id }}" />
                <input class="col" type="hidden" value="{{ itm.column }}" />
            </td>
            <td>
                <input type="checkbox" class="req" {{#compare itm.required 1 operator="=="}}checked{{/compare}}/>
            </td>
            <td>
                <input type="checkbox" class="uni" {{#compare itm.unique 1 operator="=="}}checked{{/compare}}/>
            </td>
            <td>
                <a href="#" class="js-rm-field"><img alt="Delete Record" title="Delete Record" src="/cms/images/binIcon.gif" border="0"></a>
            </td>
        </tr>
        <tr style="display: none;"></tr>
        <tr id="sql{{ itm.id }}" style="display: none;">
            <td></td>
            <td colspan="5"><textarea class="form-control" placeholder="SQL statement">{{ itm.sql }}</textarea></td>
            <td></td>
        </tr>
    </tbody>
{% endverbatim %}