{% if totalPages is defined and pageNum is defined and url is defined and totalPages > 1 %}
    {% set all = 13 %}
    {% set half = (all - 1) / 2 %}
    {% if totalPages > pageNum + half %}
        {% set start = max(pageNum - half, 1) %}
        {% set end = min(start + all - 1, totalPages) %}
    {% else %}
        {% set end = totalPages %}
        {% set start = max(totalPages - all + 1, 1) %}
    {% endif %}

    <div class="grey">
        {#<a href="{{ url }}{{ '?' in url ? '&' : '?' }}pageNum={{ max(pageNum - 1, 1) }}">&#60;</a>#}
        {% for i in start..end %}
            {% if pageNum == i %}
                {{ i }}{% if not loop.last %} |{% endif %}
            {% else %}
                <a href="{{ url }}{{ '?' in url ? '&' : '?' }}pageNum={{ i }}">{{ i }}</a>{% if not loop.last %} |{% endif %}
            {% endif %}
            {#<li class="item {% if pageNum == i %}active{% endif %}"><a href="{{ url }}/{{ i }}">{{ i }}</a></li>#}
        {% endfor %}
        {#<a href="{{ url }}{{ '?' in url ? '&' : '?' }}pageNum={{ min(pageNum + 1, totalPages) }}">&#62;</a>#}
    </div>
{% endif %}
