{% extends 'cms/cart/account-member.html.twig' %}

{% set orders = model.active('Order', {
    whereSql: 'm.customerId = ? AND m.category > 0',
    params: [app.user.id],
    limit: 5,
    sort: 'id',
    order: 'DESC',
}) %}

{% block memberContentWraper %}
    <div class="col-10 mx-auto">
        <h2 class="title text-center">Welcome back, Jason!</h2>

        <div class="space-top"></div>
        <div class="row">
            <div class="col-md-4 p-1">
                <div class="card card-pricing" data-color="orange">
                    <div class="card-body">
                        <div class="card-icon">
                            <span class="icon-simple"><i class="nc-icon nc-basket"></i></span>
                        </div>
                        <p class="card-description">
                            Total spent
                        </p>
                        <h3 class="card-title">${{ app.user.objTotalSpent|number_format(2) }}</h3>
                        <br />
                        <div class="card-footer">
                            <a href="/account/orders" class="btn btn-neutral btn-round">View orders &#10097;</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-1">
                <div class="card card-pricing" data-color="purple">
                    <div class="card-body">
                        <div class="card-icon">
                            <span class="icon-simple"><i class="nc-icon nc-bus-front-12"></i></span>
                        </div>
                        <p class="card-description">
                            Saved addresses
                        </p>
                        <h3 class="card-title">{{ app.user.objAddresses|length }}</h3>
                        <br />
                        <div class="card-footer">
                            <a href="/account/addresses" class="btn btn-neutral btn-round">Manage addresses &#10097;</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-1">
                <div class="card card-pricing" data-color="green">
                    <div class="card-body">
                        <div class="card-icon">
                            <span class="icon-simple"><i class="nc-icon nc-settings"></i></span>
                        </div>
                        <p class="card-description">
                            Personal info
                        </p>
                        <h3 class="card-title"><i class="nc-icon nc-check-2"></i></h3>
                        <br />
                        <div class="card-footer">
                            <a href="/account/profile" class="btn btn-neutral btn-round">Edit Profile &#10097;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="mb-3">
            Recent Orders
            <small class="pl-2"><a href="/account/orders">view all previous orders <i class="fa fa-angle-right"></i></a></small>
        </h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th class="text-right">Total</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for itm in orders %}
                    <tr>
                        <td>#{{ itm.uniqid }}</td>
                        <td>{{ itm.added|date('d M y') }}</td>
                        <td>{{ itm.billingFirstName }} {{ itm.billingLastName }}</td>
                        <td>{{ itm.category == 2 ? 'Paid' : 'Unpaid' }}</td>
                        <td class="text-right">${{ itm.total|number_format(2) }}</td>
                        <td class="td-actions text-right">
                            <a href="/account/order" class="btn btn-success btn-sm">
                                <i class="fa fa-cart-plus"></i>
                            </a>
                            <a href="/account/order/{{ itm.uniqid }}" class="btn btn-info btn-sm">
                                <i class="fa fa-search"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}