{% extends 'cms/cart/account-member.html.twig' %}
{% form_theme formView 'form.twig' %}

{% block memberContentWraper %}
    <div class="row title-row">
        <div class="col-md-8 col-sm-12 pt-5 px-5">
            <strong><a href="/account/addresses" class="font-weight-bold">Addresses</a> <small class="px-2">&#10097;</small> {{ customerAddress.id ? 'Edit Address' : 'New address' }}</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
            <h4 class="mb-3">Address detail</h4>
            <form method="post" class="settings-form" novalidate autocomplete="off">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        {{ form_row(formView.firstName) }}
                    </div>
                    <div class="col-md-6 col-sm-6">
                        {{ form_row(formView.lastName) }}
                    </div>
                    <div class="col-md-6 col-sm-6">
                        {{ form_row(formView.phone) }}
                    </div>
                </div>
                <div class="js-address">
                    {{ form_row(formView.address) }}
                </div>

                <div class="js-suburb">
                    {{ form_row(formView.address2) }}
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 js-city">
                        {{ form_row(formView.city) }}
                    </div>
                    <div class="col-md-6 col-sm-6 js-postcode">
                        {{ form_row(formView.postcode) }}
                    </div>
                    <div class="col-md-6 col-sm-6 js-state">
                        {{ form_row(formView.state) }}
                    </div>
                    <div class="col-md-6 col-sm-6 js-country">
                        {{ form_row(formView.country, {attr: {class: 'form-control'}}) }}
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-check">
                            <label class="form-check-label">
                                {{ form_widget(formView.primaryAddress, {attr:{class:'form-check-input'}}) }}
                                <span class="form-check-sign"></span>
                                {{ formView.primaryAddress.vars.label }}
                            </label>
                            {{ form_errors(formView.primaryAddress) }}
                        </div>
                    </div>
                </div>


                {{ form_rest(formView) }}
                <div class="text-center pt-5">
                    <a href="/account/addresses" class="btn btn-wd btn-default btn-round">&#10092; Back</a>
                    <input type="submit" name="submit" value="Save" class="btn btn-wd btn-info btn-round">
                    {% if customerAddress.id %}
                        <input type="submit" name="submit" value="Delete" class="btn btn-wd btn-info btn-round btn-danger js-delete" style="display: none;">
                        <button class="btn btn-wd btn-info btn-round btn-danger" type="button" data-toggle="modal" data-target="#deleteConfirm">Delete</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title text-center" id="deleteConfirmLabel">Delete this address</h5>
                </div>
                <div class="modal-body"> Are you sure you want to delete this address? The data <b>CAN NOT</b> be restored once you deleted it.
                </div>
                <div class="modal-footer">
                    <div class="left-side">
                        <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Never mind</button>
                    </div>
                    <div class="divider"></div>
                    <div class="right-side">
                        <button type="button" class="btn btn-danger btn-link js-confirm">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extraFooter %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ getenv('GOOGLE_API_KEY') }}&libraries=places&callback=initAutocomplete" async defer></script>

    <script>
        $(function () {
            $(document).on('click', '.js-confirm', function () {
                $('.js-delete').click();
            });
        });

        function initAutocomplete() {

            $.each($('.js-address'), function (idx, itm) {
                $parent = $(itm).closest('form');

                var countries = [];
                $.each($parent.find('.js-country').find('select').find('option'), function(oi, o) {
                    if ($(o).val()) {
                        countries.push($(o).val())
                    }
                });

                var autocomplete = new google.maps.places.Autocomplete(
                    $(itm).find('input')[0],
                    {
                        types: ['geocode'],
                        componentRestrictions: {
                            country: countries,
                        }
                    },
                );
                autocomplete.input = $(itm);
                autocomplete.addListener('place_changed', fillInAddress);

                setTimeout(function () {
                    $(itm).attr('autocomplete', 'nope');
                }, 500)
            })
        };

        function fillInAddress() {
            var place = this.getPlace();

            var componentForm = {
                street_number: 'short_name',
                route: 'long_name',
                sublocality_level_1: 'short_name',
                locality: 'long_name',
                postal_code: 'short_name',
                administrative_area_level_1: 'short_name',
                country: 'short_name',
            };

            var obj = {};
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (componentForm[addressType]) {
                    var val = place.address_components[i][componentForm[addressType]];
                    obj[addressType] = val;
                }
            }

            $parent = $(this.input).closest('form');
            if (obj.street_number && obj.route) {
                $parent.find('.js-address').find('input').val(obj.street_number + ' ' + obj.route);
            } else if (obj.street_number) {
                $parent.find('.js-address').find('input').val(obj.street_number);
            } else if (obj.route) {
                $parent.find('.js-address').val(obj.route);
            }

            $parent.find('.js-suburb').find('input').val(obj.sublocality_level_1);
            $parent.find('.js-city').find('input').val(obj.locality);
            $parent.find('.js-postcode').find('input').val(obj.postal_code);
            $parent.find('.js-state').find('input').val(obj.administrative_area_level_1);
            $parent.find('.js-country').find('select').val(obj.country);

            updateDeliveryFee();
        };
    </script>
{% endblock %}