{% extends 'base.html.twig' %}
{% block bodyClass %}register-page full-screen{% endblock %}
{% form_theme formView 'form.twig' %}

{% block container %}
    <div class="wrapper">
        <div class="page-header" style="background-image: url('/images/home.jpg');">
            <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-7 col-12 ml-auto">
                        <div class="info info-horizontal">
                            <div class="icon">
                                <i class="fa fa-user-secret"></i>
                            </div>
                            <div class="description">
                                <h3> We value your privacy </h3>
                                <p>We absolutely understand the importance of your privacy. We will never share your personal details with anyone else.</p>
                            </div>
                        </div>
                        <div class="info info-horizontal">
                            <div class="icon">
                                <i class="fa fa-umbrella"></i>
                            </div>
                            <div class="description">
                                <h3> We've got you covered </h3>
                                <p>Our system is using commercial software framework. It is developed by senior engineers. Your information is very safe with us.</p>
                            </div>
                        </div>
                        <div class="info info-horizontal">
                            <div class="icon">
                                <i class="fa fa-map-signs"></i>
                            </div>
                            <div class="description">
                                <h3> Clear Directions </h3>
                                <p>User experience is very important to our business. Our system is extremely easy to use.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-5 col-12 mr-auto">
                        <div class="card card-register">
                            <div class="text-center">
                                <h3 class="text-center mt-0 text-dark">Register</h3>
                            </div>
                            <div class="mb-3">
                                <hr/>
                            </div>
                            <form method="post" class="register-form" novalidate autocomplete="off">
                                <div class="mb-3">
                                    {{ form_widget(formView.title, {attr: {class: 'form-control mb-0', placeholder:'Email'}}) }}
                                    {{ form_errors(formView.title) }}
                                </div>

                                <div class="mb-3">
                                    {{ form_widget(formView.firstName, {attr: {class: 'form-control mb-0', placeholder:'First name'}}) }}
                                    {{ form_errors(formView.firstName) }}
                                </div>

                                <div class="mb-3">
                                    {{ form_widget(formView.lastName, {attr: {class: 'form-control mb-0', placeholder:'Last name'}}) }}
                                    {{ form_errors(formView.lastName) }}
                                </div>


                                {% for passwordField in formView.passwordInput %}
                                    <div class="mb-3">
                                        {{ form_widget(passwordField,{attr:{class:'form-control mb-0', placeholder: loop.index == 1 ? 'Password' : 'Repeat password'}}) }}
                                        {{ form_errors(passwordField) }}
                                    </div>
                                {% endfor %}

                                <div>

                                    <label style="color: black">
                                        {{ form_widget(formView.agree, {attr: {}}) }}
                                        <span class="pl-2">I have read and agree with the <a target="_blank" class="text-primary" href="/terms-and-conditions"><b>Terms and Conditions</b></a></span>
                                    </label>
                                    {{ form_errors(formView.agree) }}
                                </div>

                                {{ form_rest(formView) }}
                                <button class="btn btn-block btn-round">Register</button>
                            </form>
                            <div class="">
                                <a href="/login" class="btn btn-link btn-primary"><span class="text-black-50">Already signed up?</span> Login &#10097;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}