{% extends 'cms/cart/account-member.html.twig' %}

{% block memberContentWraper %}
    <div class="row title-row">
        <div class="col-md-8 col-sm-12 pt-5 px-5">
            <strong><a href="/account/orders" class="font-weight-bold">Orders</a> <small class="px-2">&#10097;</small> #{{ order.uniqid }}</strong>
        </div>
    </div>

    <div class="row">
        <div class="col-10 mx-auto">
            <h4 class="mb-3">Order Detail</h4>
            <div class="pb-5">
                <strong>Email:</strong> {{ order.email }}
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="">
                        <h6>Billing address</h6>
                    </div>
                    <div class="pb-3">
                        <strong>First Name:</strong> {{ order.billingFirstname }}
                    </div>
                    <div class="pb-3">
                        <strong>Last Name:</strong> {{ order.billingLastname }}
                    </div>
                    <div class="pb-3">
                        <strong>Phone:</strong> {{ order.billingPhone }}
                    </div>
                    <div class="pb-3">
                        <strong>Address:</strong> {{ order.billingAddress }}
                    </div>
                    <div class="pb-3">
                        <strong>Address2:</strong> {{ order.billingAddress2 }}
                    </div>
                    <div class="pb-3">
                        <strong>Suburb:</strong> {{ order.billingState }}
                    </div>
                    <div class="pb-3">
                        <strong>City:</strong> {{ order.billingCity }}
                    </div>
                    <div class="pb-3">
                        <strong>Postcode:</strong> {{ order.billingPostcode }}
                    </div>
                    <div class="pb-3">
                        <strong>Country:</strong> {{ order.billingCountry }}
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="">
                        <h6>Shipping address</h6>
                    </div>
                    {%  if order.billingSame %}
                        <div class="pb-3">
                            <strong>Same as billing address</strong>
                        </div>
                    {% else %}
                        <div class="pb-3">
                            <strong>First Name:</strong> {{ order.shippingFirstname }}
                        </div>
                        <div class="pb-3">
                            <strong>Last Name:</strong> {{ order.shippingLastname }}
                        </div>
                        <div class="pb-3">
                            <strong>Phone:</strong> {{ order.shippingPhone }}
                        </div>
                        <div class="pb-3">
                            <strong>Address:</strong> {{ order.shippingAddress }}
                        </div>
                        <div class="pb-3">
                            <strong>Address2:</strong> {{ order.shippingAddress2 }}
                        </div>
                        <div class="pb-3">
                            <strong>Suburb:</strong> {{ order.shippingState }}
                        </div>
                        <div class="pb-3">
                            <strong>City:</strong> {{ order.shippingCity }}
                        </div>
                        <div class="pb-3">
                            <strong>Postcode:</strong> {{ order.shippingPostcode }}
                        </div>
                        <div class="pb-3">
                            <strong>Country:</strong> {{ order.shippingCountry }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="pb-5">
                <strong>Note:</strong> {{ order.note|nl2br }}
            </div>

            <div class="table-responsive pt-5">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th class="text-right" style="width: 8em">Price</th>
                            <th class="text-right">Qty</th>
                            <th class="text-right" style="width: 7em">Subtotal</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for itm in order.objOrderItems %}
                            <tr>
                                <td>
                                    <p>{{ itm.title }}</p>
                                    <small>{{ itm.sku }}</small>
                                </td>
                                <td class="text-right">
                                    {% if itm.onSaleActive %}
                                        <del><small>${{ itm.compareAtPrice|number_format(2, '.', ',') }}</small></del>
                                        <small>$</small>
                                        {{ itm.price|number_format(2, '.', ',') }}
                                    {% else %}
                                        <small>$</small>
                                        {{ itm.price|number_format(2, '.', ',') }}
                                    {% endif %}
                                </td>
                                <td class="text-right">{{ itm.quantity }}</td>
                                <td class="text-right">${{ itm.totalPrice|number_format(2, '.', ',') }}</td>
                            </tr>
                        {% endfor %}

                        {% if order.discount %}
                            <tr>
                                <td class="border-0"></td>
                                <td class="text-right font-weight-bold" colspan="2">Subtotal:</td>
                                <td class="text-right font-weight-bold">
                                    ${{ order.subtotal|number_format(2, '.', ',') }}
                                </td>
                            </tr>

                            <tr>
                                <td class="border-0"></td>
                                <td class="text-right font-weight-bold" colspan="2">Discount:</td>
                                <td class="text-right font-weight-bold">
                                    -${{ order.discount|number_format(2, '.', ',') }}
                                </td>
                            </tr>

                            <tr>
                                <td class="border-0"></td>
                                <td class="text-right font-weight-bold" colspan="2">After discount:</td>
                                <td class="text-right font-weight-bold">
                                    ${{ order.afterDiscount|number_format(2, '.', ',') }}
                                    <div><small>(Incl. GST ${{ order.tax|number_format(2, '.', ',') }})</small></div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="border-0"></td>
                                <td class="text-right font-weight-bold" colspan="2">Subtotal:</td>
                                <td class="text-right font-weight-bold">
                                    ${{ order.subtotal|number_format(2, '.', ',') }}
                                    <div><small>(Incl. GST ${{ order.tax|number_format(2, '.', ',') }})</small></div>
                                </td>
                            </tr>
                        {% endif %}

                        <tr>
                            <td class="border-0"></td>
                            <td class="text-right font-weight-bold" colspan="2">Delivery fee:</td>
                            <td class="text-right font-weight-bold">
                                ${{ order.shippingCost|number_format(2, '.', ',') }}
                                <div><small>({{ order.shippingTitle }})</small></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="border-0"></td>
                            <td class="text-right font-weight-bold" colspan="2">Total:</td>
                            <td class="text-right font-weight-bold">{{ getenv('CURRENCY_COUNTRY') }}${{ order.total|number_format(2, '.', ',') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="text-center pt-2">
                <a href="/account/orders" class="btn btn-warning"><i class="nc-icon nc-minimal-left"></i> Back</a>
                <a href="#" class="btn btn-info"><i class="fa fa-shopping-cart"></i> Add to cart</a>
            </div>
        </div>
    </div>

{% endblock %}