<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
        body {
            font-family: 'Helvetica Neue', Arial, sans-serif;
        }

        a:link, a:visited, a:hover, a:active {
            color: #59a2d7;
        }
    </style>
</head>

<body marginheight="0" marginwidth="0" style="line-height: 18px;">


<font face="Helvetica, Arial, sans-serif" size="-1" color="#003876" style="font-size: 12px;">
    <table width="100%" cellspacing="0" cellpadding="0" bgcolor="white">
        <tr>
            <td align="center">
                <table width="600" bgcolor="#ffffff" align="left" border="0" cellpadding="10" cellspacing="0">
                    <tr>
                        <td style="text-align:left;">


                            <!-- Sub-head -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="10">
                                <tr>
                                    <td>
                                        <font color="#999999"><strong>Email ID:</strong> #{{ submission.uniqueId }}</font>
                                    </td>
                                    <td align="right">
                                        <font color="#999999"><strong>Date:</strong> {{ submission.date|date("d/m/Y") }}</font>
                                    </td>
                                </tr>
                            </table>
                            <!-- Sub-head -->

                            <hr noshade="noshade" size="1" style="border-top: 1px solid #ccc;"/>


                            <!-- Details -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="10">
                                {% for itm in submission.content|json_decode %}
                                    <tr>
                                        <td>{{ itm.0 }}</td>
                                        <td>{{ utils.formData(itm)|raw }}</td>
                                    </tr>
                                {% endfor %}
                            </table>

                            <hr noshade="noshade" size="1" style="border-top: 1px solid #ccc;"/>
                            <!-- Details -->


                            <br/><br/>


                            <!-- Foot -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="10" bgcolor="#eee">
                                <tr>
                                    <td align="center">
                                        <font color="#003876" size="-1" style="font-size: 12px;">
                                            {{ getenv('PROJECT_NAME') }} &copy; {{ 'now'|date('Y') }}
                                        </font>
                                    </td>
                                </tr>
                            </table>
                            <!-- Foot -->


                        </td>
                    </tr>
                </table>
                <br/>
                <br/>
            </td>
        </tr>
    </table>
</font>
</body>
</html>


                              