{% form_theme formView 'form.twig' %}

<div class="js-add-cart-form">
    <form action="{{ url }}" autocomplete="off" novalidate method="POST" class="add-cart-form">
        <div class="row">
            <div class="pt-3 col-md-7">
                {{ form_label(formView.quantity) }}
                {{ form_widget(formView.quantity,{attr:{class:'form-control'}}) }}
                {{ form_errors(formView.quantity) }}
            </div>
            <div class="pt-3 col-md-5">
                <label>&nbsp;</label>
                {{ form_rest(formView) }}
                <button class="btn btn-danger btn-block btn-round">Add to Cart &nbsp;<i class="fa fa-chevron-right"></i></button>
            </div>
        </div>
    </form>

    {% if submitted %}
        <div class="mt-1 alert alert-success text-center">
            <a href="/cart" class="ml-2 text-white"><strong>The item has been added! Check out my cart</strong> <i class="fa fa-chevron-right"></i></a>
        </div>
    {% endif %}
</div>