{% extends 'cms/orms/orm.html.twig' %}


{% block formWidgets %}
	{{ form_row(form.title) }}
	{{ form_row(form.code) }}
	{{ form_row(form.description) }}

	<div style="display: none;">
		{{ form_row(form.fileName) }}
		{{ form_row(form.fileSize) }}
		{{ form_row(form.fileExtension) }}
		{{ form_row(form.fileType) }}
		{{ form_row(form.fileLocation) }}
		{{ form_row(form.isImage) }}
		{{ form_row(form.width) }}
		{{ form_row(form.height) }}
	</div>

	{{ form_rest(form) }}
{% endblock %}